[2016-09-10 07:25] skoropadskiy opened #1 "Error on Redmine v 3.3.0"
Redmine::PluginRequirementError: redmine_drawio plugin requires a Redmine version between 2.6 and 3.2 but current is 3.3.0.stable
/opt/redmine-3.3.0/lib/redmine/plugin.rb:220:in `block in requires_redmine'
/opt/redmine-3.3.0/lib/redmine/plugin.rb:205:in `each'
/opt/redmine-3.3.0/lib/redmine/plugin.rb:205:in `requires_redmine'
/opt/redmine-3.3.0/plugins/redmine_drawio/init.rb:14:in `block in <top (

[2016-09-10 07:58] #1 closed

[2016-09-10 13:37] skoropadskiy commented on #1
Thanks a lot!

[2016-10-03 16:46] mrclicky opened #2 "incorrect shapes redmine 3.3.0 current version of Draw.io"
Just taking a template from draw.io flow chart section and adding it to a wiki page results in shapes being defaulted to rectangles and some with clear backgrounds getting filled in.

[2016-10-05 16:14] mikitex70 commented on #2
Let me try in the weekend.
But the plug-in does nothing more than including the scripts from draw.io: the shapes are drawn by those scripts so maybe there is some conflict with other scripts. Can you tell me what plugins you use?
Have you tried other browsers to see if it is a general problem or related to a specific browser?

[2016-10-05 16:21] mrclicky commented on #2
I have Chrome 53.0.2785.116 m (64-bit), IE 11, Firefox 48.0.2
IE11 doesn't show the diagram at all.
Chrome seems to have changed all shapes to rectangle.
Firefox shows the same as chrome.

Current plugins are this one v0.1.2 and mylyn connector 2.8.2.stable

[2016-10-09 16:41] mikitex70 commented on #2
I think I've fixed the problem, but I'm unable to start my Redmine 3.3 (troubles with Docker) so it's tested only on Redmine 2.3.
Can you checkout from the develop branch and give a try? If it works I would release it in the master branch.

[2016-10-10 13:08] mrclicky commented on #2
Sure thing. I'll do this morning and let you know. I should just be able to load it, restart the webserver and view the entry with the diagram correct?

[2016-10-10 13:16] mrclicky commented on #2
Failed to initialize plugin:
<pre>
[ 2016-10-10 09:14:57.9694 11206/7f71cc069700 age/Cor/App/Implementation.cpp:304 ]: Could not spawn process for application /var/www/redmine-3.3.0: An error occurred while starting up the preloader.
  Error ID: 6b7510c7
  Error details saved to: /tmp/passenger-error-AYhbeU.html
  Message from application: /var/www/redmine-3.3.0/plugins/redmine_drawio/lib/hooks/vi

[2016-10-10 18:02] mikitex70 commented on #2
Fixed. My stupid mistake, indentation was gone and I missed an `end` to close the `module`.
Try again: do a `git pull`, restart the web server and the diagrams now should be fine.

[2016-10-10 18:09] mrclicky commented on #2
ok. I have switched back to develop branch and pulled the changes. HEAD is now "462508e fix: usr: fixed missing end of module"

restarted the webserver and it doesn't seem to have an issue but the diagram looks the same. I tried to remove the {{drawio(diagram.xml)}} comment from my issue, save, and re-add it but again no change. is there a cache somewhere that I should clear?

[2016-10-11 16:31] mikitex70 commented on #2
No cache by server, but maybe the cache in the browser...
I've tested the plugin with Redmine 3.3.0 stable and it's working fine.
I have create a new flowchart diagram in www.draw.io, saved locally (File - Save as .. -> choose Device -> download diagram and saved as `flowchart.xml`), then in Redmine I've created a new Wiki page, attached the diagram and inserted the macro as `{{drawio(flowchart.xm

[2016-10-11 16:54] mrclicky commented on #2
I followed your steps as given. Here is my screenshot and flowchart.xml.
Just to make sure, I restarted my apache instance again.

![lightbox](https://cloud.githubusercontent.com/assets/22597973/19279959/9c97b48e-8fb1-11e6-808a-a58db3884abf.png)

[flowchart.xml.txt](https://github.com/mikitex70/redmine_drawio/files/522438/flowchart.xml.txt)

[2016-10-11 18:06] mikitex70 commented on #2
Ok, now I've understood. I was looking the graph, not the shapes...
I've found the problem, I think tomorrow I will commit the fix.
Thanks for your support.

[2016-10-12 18:10] mikitex70 commented on #2
Problem fixed.
Do a pull from the develop branch, restart the web server and now the diagrams should look fine.

[2016-10-12 18:15] mrclicky commented on #2
Looks good! Thanks a million.

[2016-10-12 18:15] #2 closed

[2016-10-14 13:27] oparidae opened #3 "future feature: create and draw on an redmine wiki as sort of an embedded object"

[2016-10-15 09:59] zolnierczyk opened #4 "Display diagram from DMSF plugin"
Hi mikitex70,

We are using DMSF plugin for managing documentation and works great. We ave also diagrams saved as documents and this will be great feature if wiki page can just simple display it. I am redmine administrator and javascript developer but I have no experience in Ruby but I would like to collaborate with development. If you don't mind I would like prepare patch which add such functiona

[2016-10-15 11:21] mikitex70 commented on #4
I'm working on feature request #3 (with some nice result) and now I'm studing where to save diagrams.
I've successfully saved diagrams in DMSF (with versioning :-) ) but I need to save also as attachment for those don't using DMSF.
I can work on it only on the weekends, but I hope to have something working for the next weekend.
Thanks for your offer, I will need your support for testing and sugges

[2016-10-16 10:15] oparidae commented on #4
Tks mikitex!

[2016-10-23 18:13] mikitex70 commented on #3
Hi oparidae, I've released in the develop branch a new version of the plugin.
With this version there are two new macros, `drawio_attach` and `drawio_dmsf`.
The first expects diagrams as attachments, the other as a DMSF document.
Can you give a try to the `drawio_attach` macro? It uses a sort of embedded editing, see the README.md for details.
If you can, try also with different user privileges to

[2016-10-23 18:15] mikitex70 commented on #4
Hi zolnierczyk, I've released in the develop branch a new version of the plugin.
With this version there are two new macros, `drawio_attach` and `drawio_dmsf`.
The first expects diagrams as attachments, the other as a DMSF document.
Can you give a try to the `drawio_dmsf` macro? It also uses a sort of embedded editing, see the README.md for details.
If you can, try also with different user privile

[2016-10-24 16:03] oparidae commented on #3
simple test on redmine:
Environment:
  Redmine version                3.3.0.stable.15809
  Ruby version                   2.1.5-p273 (2014-11-13) [x86_64-linux]
  Rails version                  4.2.7.1
  Environment                    production
  Database adapter               Mysql2

the drawio_attach worked perfectly! Congrats!

It pop uped a permission for username and password (the .htpasswd

[2016-10-25 18:24] oparidae commented on #3
I will test it tomorrow ! Huge thanks

Enviado do meu iPhone

No dia 23/10/2016, às 19:13, Michele Tessaro <notifications@github.com> escreveu:

[2016-11-03 12:35] rogerjak opened #5 "Buttons are switched"
Great plugin!
The new toolbar buttons are wrong though; the dmsf one generates drawio_attach and the opposite for the other one.
Also, the new embedded editor doesn't work for me, I think it's because we don't run redmine at root url, because of Bitnami.
Thanks
Roger

[2016-11-03 21:11] #5 closed

[2016-11-03 21:14] mikitex70 commented on #5
Fixed.
Thanks for reporting the issue.

[2016-11-03 21:16] mikitex70 commented on #3
Closing this feature request as the plugin now handles embedded editing.
Thanks for your suggestion.

[2016-11-03 21:16] #3 closed

[2016-11-03 21:18] mikitex70 commented on #4
Closing this feature request as the plugin now can handle DMSF documents.

[2016-11-03 21:18] #4 closed

[2016-11-04 08:17] rogerjak commented on #5
Thanks, the buttons are ok now.
But attach and edit still doesn't work. The placeholder is just a "missing image" and when I click save in the editor it tries to connect to the root so I get prompted for credentials and it all fails.

[2016-11-04 08:38] mikitex70 commented on #5
I will look for your problem tonight, maybe there are other places where I need to inject the Redmine path.
Sorry, I've not deeply tested the code...

[2016-11-04 09:00] jeshio opened #6 "DMSF linking"
Hello!
I want to use plugin with dmsf, but I have a problem.

![image](https://cloud.githubusercontent.com/assets/1515657/19999841/645de53c-a296-11e6-830a-25d6f3a0b766.png)

On the screen you can see my diagram-file with extension .xml.
This file id is 2.

So, I link it:
![image](https://cloud.githubusercontent.com/assets/1515657/19999911/b9674c08-a296-11e6-9047-8b6989a3829d.png)

And result:
![im

[2016-11-04 17:26] mikitex70 commented on #6
The image ``Double click to start drawing`` is a placeholder to start a new diagram, that when saved will create a new DMSF document named ``2.png`` (from your screenshots).
The macro ``drawio_dmsf`` works only by starting a new diagram as needs to save it as an PNG image with embedded XML source.
So in your case you need to specify something like ``Redmine/Redmine Roles Sequence`` as diagram name

[2016-11-04 19:10] mikitex70 commented on #5
I've tried Redmine in Bitnami and works fine for me. If you are using the DMSF plugin, make sure to enable its WebDAV capability in Read/Write mode to avoid an HTTP 502 error.
Are you using Bitnami on Linux or Windows? If you are using the Windows version maybe the plugin has a problem in the path management. I will do a Windows test tomorrow.
Try also to do a clean checkout of the plugin, and use

[2016-11-05 06:45] jeshio commented on #6
Thank you for responding.
Ok, but now I have another problem with save.

After click button "Save" I got a login box:
![image](https://cloud.githubusercontent.com/assets/1515657/20028201/1ad982b0-a34d-11e6-8509-5c2d420586db.png)

I'm writing my redmine login/password and getting next:
![image](https://cloud.githubusercontent.com/assets/1515657/20028210/51f60868-a34d-11e6-9d54-4960abf13e2f.png)

[2016-11-05 15:24] mikitex70 commented on #6
The error was returned by the DMSF module when attempting to save the document in an non-existent folder.
Make sure the folder exists before attempting to save a diagram; if it is missing create it through the DMSF module.
Also, make sure to enable the WebDAV capabilities (with Read/Write support) in the DMSF plugin settings.

[2016-11-06 05:40] jeshio commented on #6
Thanks, it works!)

[2016-11-06 05:40] #6 closed

[2016-11-08 12:37] rogerjak commented on #5
After I click save in the editor and enter the credentials, the wiki page is updated with a new attachment. So far so good, but there's no diagram visible on the page, only the "missing image" thing.

Also, the page gets messed up, I have a plugin that automatically adds headers/footers to all wiki pages, and that "external text" is added to my page somehow.

[2016-11-10 19:52] mikitex70 commented on #5
Hi rogerjak, I've pushed in the develop branch a new pre-release.
This version should fix the problems running in Windows (tested with Bitnami 3.3.1-0 with Windows 7), plus some fix for Internet Explorer (tested with Internet Explorer 11).
If you have troubles with the diagram editor (such as pages messed up), try using Firefox or Chrome.

[2016-11-22 18:12] jallakim opened #7 "Plugin not working when `root` route is set to custom value"
Hi,

redmine_drawio doesn't seem to work if you have a custom value for your `root` route (in `config/routes.rb` within Redmine). Justification for changing the default `root` route is when you only have one project, and you'd like the "Home" button to go to that one project.

Original `root` route;
[code]

Our custom `root` route;
[code]

Error in `log/production.log` when going to the "Wiki" pag

[2016-11-22 18:13] jallakim commented on #7
It's working fine when reverting the `root` route to it's original value.

[2016-11-22 23:56] jallakim opened #8 "Resize drawio_dmsf?"
Hi,

Really great plugin!

Maybe a stupid question, but is there a way to resize images printed by the `drawio_dmsf` macro? (similar to the `zoom` option for the `drawio` macro).

[2016-11-23 13:35] Yopii opened #9 "Errors on drawio_attach and drawio_dmsf"
Hi,

The plugin is great and works correctly with the '**_drawio_**' macro.
However, I have an error if I use the '**_drawio_attach_**' and '**_drawio_dmsf_**' macros.

**Infos**:
- Redmine version                    3.3.1.stable.15949
- Ruby version                          2.3.0-p0 (2015-12-25) [x86_64-linux]
- Rails version                           4.2.7.1
- progressive_projects_list        1.

[2016-11-23 16:57] mikitex70 commented on #8
They are simple PNG images so yes, it's possible.
Give me some time to implement it, it's not difficult but I work on it in my free time :-)

[2016-11-23 17:05] jallakim commented on #8
Excellent! No worries about timeframe -- totally understand it.

[2016-11-23 17:11] mikitex70 commented on #9
I'm using version 1.5.6 of DMSF, maybe something has changed.
Give me the weekend, I will fix it.

[2016-11-23 17:13] mikitex70 commented on #7
I've found the problem, now I need to find a workaround.
Be patient, maybe I will fix it in the weekend.

[2016-11-23 18:46] jallakim commented on #7
Excellent! Don't stress -- it's kind of an "first world problem" problem :-P

[2016-11-23 22:05] Yopii commented on #9
OK ! Thank you !

[2016-11-29 13:37] Yopii commented on #9
Hi,

Thanks for the fix but now I have two other problems.

- The first, for the 3 macros I get this message when importing "_drawio unsupported item_".
- The second is that I do not have the icons with each time I change the content. Their appearance seems random.

Thank you for yout help.

[2016-12-03 15:26] mikitex70 commented on #9
As stated in the README, the only supported items are Issues and Wiki pages. What kind of items do you need to be able to handle diagrams? Maybe I will be able to support those items too.

What are the "icons" you are referring too? The icons/buttons in the editor toolbar are available only on Issues and Wiki pages, consistently to the documentation. There are times when the diagrams are not rende

[2016-12-10 16:39] #7 closed

[2016-12-10 16:45] jallakim commented on #7
@mikitex70, excellent! Thanks!

[2016-12-10 16:49] jallakim commented on #8
Ah, didn't notice this commit. I tested it, and it works fine. Thanks, @mikitex70!

[2016-12-10 16:49] #8 closed

[2016-12-30 13:24] AdrianAntunez opened #11 "Error saving diagram: Not Found"
Hi,

With redmine-3.3.1 and redmine_drawio version v0.4.0 (API enabled). I receive the following error after editing a diagram in a Wiki page:

The problem goes off if I checkout into a v0.3.2 tag. Meanwhile I will use 0.3.2 version.

If you need any additional info, please, let me know.

[2017-01-03 16:58] mikitex70 commented on #11
I've checked ``v0.4.0`` and on my test server works fine.
What macro are you using, ``drawio``, ``drawio_attach`` or ``drawio_dmsf``?
In what kind of pages, issues or wiki pages?

The error ``Not Found`` (HTTP 404) is raised from the ``dmsf`` plug-in when the WebDAV capabilities aren't enabled (see the ``README``, section ``drawio_dmsf macro``). But ``v0.3.2`` works fine for you so it is strange.

[2017-01-03 19:17] AdrianAntunez commented on #11
Hi mikitex70, first of all thanks for answering!

It happens in wiki pages.

It happens when using the `drawio_attach` macro.

I also tested the `{{drawio(activity.xml)}}`, it raises another message: "Diagram attachment missing or not is a text file"

I double checked, I have `REST` API enabled. I do not have WebDAV API enabled because I'm not using `dmsf`.

I also wiped out the cookies as well as

[2017-01-07 11:10] mikitex70 commented on #11
Hi Adrian, it took me time but I think to have fixed the problem, try to checkout the develop branch.
I've also added the support for using the macros in issue notes, which weren't handled. The drawio_attach macro isn't working completely because of missing Redmine APIs for issue notes, so you need to use the other two macros.

[2017-01-09 14:29] AdrianAntunez commented on #11
You're right mikitex70.

Now it works like a charm! Thank you so much!! ;)

[2017-01-09 14:35] AdrianAntunez opened #12 "Plugin configure section to choose drawio server"
Hi,

My company takes privacy very seriously. For that reason, we have deployed a private drawio server in order to use it only internally without Internet access.

I have achieved to make it work modifying assets/javascripts/drawioEditor.js, concretely:

`image.setAttribute('src', '//www.draw.io/images/ajax-loader.gif');`
and
`iframe.setAttribute('src', 'https://www.draw.io/?embed=1&ui=atlas&spin

[2017-01-09 17:19] mikitex70 commented on #12
Hi Adrian,
that's something I'd already planning to implement; using a local installation of drawio would speed-up resource fetching, specially for the ``drawio`` macro which renders diagrams every time a page is consulted.
I think I could implement it in the weekend, maybe a test release would be ready for the next monday.

[2017-01-11 09:48] AdrianAntunez commented on #12
Yeah it would be a performance boost! I will test it ASAP you release the code ;)

[2017-01-12 09:44] cryshader opened #13 "Cannot install draw.io plugin on redmine 3.3.1"
Hi!
We've updated redmine to version 3.3.1.stable and cannot install redmine_drawio plugin.
It worked well on redmine 3.2.3.
At the start hooks could not be found,
`LoadError: no such file to load -- hooks/view_hooks`
so we changed init.rb:
`require_dependency 'hooks/view_hooks'
require_dependency 'hooks/macro_dialog'`
to absolute path:
`require_dependency '/full/path/to/redmine/plugins/redmine_dr

[2017-01-15 21:41] mikitex70 commented on #13
What OS are you using, Windows or Linux?
I'm unable to reproduce your error, the only difference is the ruby version, mine is 2.1.9p490.
I will try to upgrade a docker container with your version of Ruby to see if is this the problem.

[2017-01-17 16:29] cryshader commented on #13
Hi, we've updated our issue with OS, it's CentOS 7.0

[2017-01-17 17:47] mikitex70 commented on #12
Hi Adrian, I've implemented your request. Can you give a try with the develop branch?
Also, look in the README for a section on building the draw.io war file, maybe you need to apply the patch included in the plugin sources.

[2017-01-19 09:54] AdrianAntunez commented on #12
I'm a bit busy those days, I will let you know ASAP I test it. Thank you so much! ;)

[2017-01-26 09:44] julianram opened #14 "Problem install"
Error:

/var/lib/gems/1.9.1/gems/activesupport-4.2.1/lib/active_support/dependencies.rb:274:in `require': /srv/redmine-3.0/plugins/redmine_drawio/init.rb:47: invalid multibyte char (US-ASCII) (SyntaxError)

Solution: write head init.rb

"# encoding: UTF-8"

Regards,

[2017-01-26 17:38] #11 closed

[2017-01-26 17:38] #14 closed

[2017-01-26 17:41] mikitex70 commented on #14
Thanks for you suggestion  julianran.
I've just released a new version, with your fix and some other changes.

[2017-03-10 10:51] u2mike opened #15 "attach drawio function does not work"
hello

i installed this nice plugin and the following feature does not work:
i pasted with the drawio_attach button the following line:
{{drawio_attach(US-process02.xml, size=100)}}

before i uploaded US-process02.xml in the same wiki page ...

after that i get the following message:
Diagram as XML not supported: start a new diagram and import the old

any idea?

i use 3.1.1.stable as current redm

[2017-03-10 16:53] mikitex70 commented on #15
As stated in the README.md, `drawio_attach` works only with png files with embedded XML (what is called `pngxml` format).
If you want to use the XML document you must stay with the old `drawio` macro; if you want to use the `drawio_attach` macro with the existing diagram you must save the XML locally, start with an empty diagram (specify a `png` extension for the document) then import the XML docu

[2017-03-13 15:30] u2mike commented on #15
thanks for your hints ...
one additional question ... maybe you know this issue ...
when i upload a embedded png file with dmsf plugin then the dmsf plugin "cuts" the png file!
a workaround is to upload again with the dmsf functionality "New Revision" ...

[2017-03-28 22:06] u2mike opened #16 "drawio macro does not appear in chrome browser"
hello

can you give me a hint ...
i activated this plugin and it works fine with firefox but now my colleague is using a current chrome browser version and when i want to add for instance a new issue the macros do NOT appear.
strange is that this works on firefox?

thanks for appreciated response

greetings michael

i have the following enviroment:
Environment:
  Redmine version                3.3

[2017-03-29 07:03] u2mike commented on #16
hello all

i found the issue ... it was a problem on my browser cache (chrome) ... after i deleted the browser cache
everything worked fine!

greetings michael

[2017-03-29 07:03] #16 closed

[2017-04-03 09:30] dinya opened #17 "SVG as format for drawio_attach and drawio_dmsf macroses"
Very thanks for the great tool!

Is it possible to add option to ``drawio_attach`` and ``drawio_dmsf`` macroses to save image as SVG?

It will be useful to copy text from diagram or for adding URL to nodes.

[2017-04-03 16:02] mikitex70 commented on #17
Sorry but they work only with the PNG format, which is the only format that supports saving the source diagram embedded with the image. It is a "limitation" of the ``draw.io`` editor.
Maybe I can do a workaround, a "double save" of the diagram in source and SVG format and then inject the source into the SVG so to be able to extract it again when an edit is required.
Stay tuned, I will try this wee

[2017-04-11 18:08] #17 closed

[2017-04-11 18:11] mikitex70 commented on #17
I've found that the draw.io editor supports saving in SVG with and embedded diagram source, so I'm happy to release this new version.
Add add ``.svg`` extension diagram names and you are free to edit diagrams in SVG format.

[2017-04-12 03:39] dinya commented on #17
I tried
[code]

and got Error 500 after page reload

[code]

But ``{{drawio_dmsf(diagrams/test)}}`` and ``{{drawio_dmsf(diagrams/test.png)}}`` works well and saves diagram as  ``diagrams/test.png``.

BTW, ``{{drawio_dmsf(diagrams/test.SVG)}}`` saves as ``diagrams/test.SVG`` but with PNG content. I don't know if it matters for Windows users.

[2017-04-12 06:10] mikitex70 commented on #17
The extension must be in lowercase to be recognized as svg; I will add code to check the extension in a case-insensitive manner.
Your error seems to be cause by an incorrect UTF-8 character, maybe I've use some character with a wrong encoding, I will recheck this afternoom.
What's your platform, Windows? What Redmine installation you use, Bitnami, Docker, virtual machine or custom installation?

[2017-04-12 13:35] dinya commented on #17
I use custom installation of Redmine 3.3.1 with phusion passenger under Ubuntu 14.04.5

[2017-04-12 18:36] mikitex70 commented on #17
I cannot reproduce your error; what plugins are you using?
The backtrace seems reporting a problem with the redmine_wiki_extensions plugin, but it seems strange to me.
Can you try to disable/remove the other plugins so to isolate where is the error?

[2017-04-27 11:21] amenk opened #18 "[Support] Compatibility with Easy Redmine"
After installation of the plugin, the easy redmine install does not start anymore.

Can you give me some pointers on how to debug?

`Message from application: No such file to load -- hooks/view_hooks (LoadError)`

<details>

	App 21245 stdout:
	[ 2017-04-27 13:19:29.7182 19866/7f28923eb700 age/Cor/App/Implementation.cpp:304 ]: Could not spawn process for application /srv/easyproject/public_html: A

[2017-05-02 16:34] mikitex70 commented on #18
I've tried with Redmine 3.3.3 and Ruby 2.3.0 in a Docker container, but I cannot reproduce your error.
It seems to be similar to #13: both issues has been happened with Ruby 2.3, and both seems to happen in a easyredmine installation.
Can you give me the version of Rails in use?
Also maybe I'm missing some rule in file naming/positioning (I'm a Java programmer) but other plugins with similar file

[2017-05-03 06:55] amenk commented on #18
This is the feedback I got from EasyRedmine:

can you try this? I will be happy to test...

[2017-05-03 18:32] mikitex70 commented on #18
Hi amenk, thanks for the documentation.
I've refactored the code based on those guidelines; you can find a quick and dirty version of the plugin in the `feature/easyredmineCompat` branch. With Redmine 3.3.2 works as before, I hope solves the problems with EasyRedmine.
If your test were successfully I will do some cleanup on the code and than I will do new release.

[2017-05-04 07:05] amenk commented on #18
Redmine starts now when installing that branch.
If I put

     {{drawio_attach(test.png)}} or {{drawio_attach(test.svg)}}

into a wiki page

It displays

     Error executing the drawio_attach macro (undefined method `svg?' for #<#<Class:0x00000003b03bc0>:0x007ff519d8a020>)

on rendering.

[2017-05-04 07:10] amenk commented on #18
drawio(test.xml)

is working ... but I am more interested in the attach function to directly edit diagrams from within redmine

[2017-05-04 17:58] mikitex70 commented on #18
Try now, I've completed the refactor of the code: now is more clean and all macros will work fine (at least I home).

[2017-05-04 18:47] amenk commented on #18
Awesome ...
iframe.drawIoEditor     margin-top: 50px; would fix the issue with overlapping top-bar
![screenshot_auswahl_030](https://cloud.githubusercontent.com/assets/1087128/25719778/e6c985fa-310a-11e7-9881-3112f0a662ac.png)

[2017-05-05 06:34] mikitex70 commented on #18
Glad to see that now is working.
For the iframe, I need a way to detect if the plugin is running in easyredmine or not, to be able to add the margin only if necessary.
Can you find an element in the page (a tag or a class, maybe the top bar) that can be recognized as specific for easyredmine? If so I can add the margin dynamically to accomodate different themes.

[2017-05-05 07:42] amenk commented on #18
<body class="project-example-com controller-wiki action-show desktop-device non-easy-redmine-theme">

so it seems to be non-easy-redmine-theme - will this is a bit strange naming, but it should work

[2017-05-05 07:48] amenk opened #19 "Diagram is attached as Name_1.png and so not shown after page reload"
Easyredmine / EasyredmineCompat Branch

Steps to reproduce
1. Go to an issue
2. insert {{drawio_attach(test.png)}}
3. save
4. click to draw and draw
5. save in drawio
6. all fine so far, diagram is shown
7. reload the page

See:

- the diagram was attached as test_1.png
- and thus is not shown in the inline note anymore (which references test.png)
- there is no test.png attached before

Want to se

[2017-05-05 07:50] amenk commented on #19
For wiki pages something similar, but different happens. It is attached as `_test.png_`

[2017-05-05 16:45] mikitex70 commented on #19
The behaviour of saving the diagram as `test_1.png` is normal: Readmine (at least until 3.2.0) does not have the API to delete attachments, and for new releases I need to try and implement the code.
So I needed a way to "version" the diagram and so the diagram is saved with a numeric suffix that will be incremented every time the diagram is saved. At the same time the body is updated changing the

[2017-05-05 16:46] mikitex70 commented on #19
The behaviour of saving the diagram as `test_1.png` is normal: Readmine (at least until 3.2.0) does not have the API to delete attachments, and for new releases I need to try and implement the code.
So I needed a way to "version" the diagram and so the diagram is saved with a numeric suffix that will be incremented every time the diagram is saved. At the same time the body is updated changing the

[2017-05-05 16:46] amenk commented on #19
But there is a versioning - if you upload a file with the same name, it is replaced with a new version (or is this only in ER) ?
The body updating does not seem to work though ...

[2017-05-05 16:54] amenk commented on #19
Is it possible to put an option to always save under the same name ?  (if only for ER - but I believe stock redmine has this as well)

[2017-05-05 18:21] mikitex70 commented on #19
With attachments (at least in standard Redmine) will not replace an attachment you upload two files with the same name. You can try with two different images using the same name, both will appear in the attachment list.
For the body updating... what is your version of EasyRedmine? Maybe I can match a similar version of Redmine and reproduce the issue.

[2017-05-05 19:11] amenk commented on #19
Interesting. In ER it is definitely the case that images get replaced by a new version. But I do not know if the API is the same. Maybe you can try in the ER branch to disable the file-renaming or give me a hint where it is done.
This would magically solve the need for the body updating :-)

But now it seems to save also with _foo.png_ for `{{drawio_attach("foo.png")}}` in issues - no clue why.

[2017-05-05 19:17] amenk commented on #19
The _ _ are coming because I use `"` ... I found the versioning code and will see what happens if I disable i

https://github.com/mikitex70/redmine_drawio/blob/feature/easyredmineCompat/lib/redmine_drawio/macros.rb#L137

[2017-05-05 19:22] amenk commented on #19
works

    	--- a/lib/redmine_drawio/macros.rb
	+++ b/lib/redmine_drawio/macros.rb
	@@ -136,11 +136,12 @@ EOF

		 if canEdit
		     # Diagram and document are editable
	-            if diagramName =~ /_\d+\./
	-                saveName = diagramName.sub(/_(\d+)/) {|v| v.next } # increment version
	-            else
	-                saveName = diagramName.sub(/(\.\w+)$/, '_1\1') # set version to _

[2017-05-05 20:07] amenk opened #21 "EasyRedmine: Add button to CKEditor to add diagram"

[2017-05-06 16:59] amenk commented on #19
Can we put a detection for easyredmine (if a easy Plugin is present?) and include that code? Where to disable the modification of the body? Even it is not working, it should be disabled I think..

[2017-05-06 18:31] mikitex70 commented on #19
This is what happens when I modify a diagram without the "versioning" suffix:
![not_replaced](https://cloud.githubusercontent.com/assets/2070527/25774929/3af204b0-3299-11e7-8fb9-b37ba8c97a7a.png)
The green image is the first editing attempt, the red (it looks like pinker than red) is the second. As you can see the image is not replaced, and as the attachment is requested by name, it is not guarant

[2017-05-06 18:55] amenk commented on #19
Yes I can confirm it is not like on your screenshot but with proper
replacing and automatic versioning by easyredmine with my small change
above.

[2017-05-08 18:09] mikitex70 commented on #19
Hi amenk, can you try again from the easredmineCompat branch?
I've introduced an EasyRedmine detection, so I hope the code will work fine with both ER and Redmine.
The code need to be cleaned but if this works I can go on with the changes.

[2017-05-08 18:46] amenk commented on #19
Works well.

[2017-05-08 18:46] amenk commented on #18
Can you include this CSS? (there is also a sidebar on the righ)

	.non-easy-redmine-theme iframe.drawioEditor {
	    top: 50px;
	    right: 40px;
	    width: calc( 100% - 40px );
	    height: calc( 100% - 50px );
	}

[2017-05-09 16:29] mikitex70 commented on #19
Good, now I can clean the code and handle the toolbar covering the iframe.

[2017-05-12 09:40] MathieuDuc35 opened #22 "Error 422 Unprocessable Entity"
Hi,

I have installed redmine and a lot of plugins to test it but I have a problem that I havent succeed to fix it's with redmine_drowio. The installation worked perfect and I try to use it and that works well but when I try to save it I have to connect again to redmine (that work) and after this I have a litle window who show a 422 error. I don't know from where that come. If you have any ideas ?

[2017-05-12 16:54] mikitex70 commented on #22
For the error about the DMSF button please read the README.md: the `drawio_attach` macro works only if you install the `redmine_drawio` plugin, which seems missing from your list. I'm working on disabling that button if the plugin isn't installed, but in the meanwhile don't use it if you don't install the `redmine_dmsf` plugin.

For the `drawio_attach` macro, I haven't understood your use case: th

[2017-05-14 17:51] mikitex70 commented on #19
Plugin is almost complete, I would try to implement request #21 before release a new version.
If you want you can try the current version for EasyRedmine from the `develop` branch.

[2017-05-14 17:53] amenk commented on #21
Is there a ckeditor in standard redmine? Awesome you want to implement it.. I failed setting up the environment

[2017-05-14 17:55] mikitex70 commented on #18
Is better if the drawio iframe stays over all elements of the page, the EasyRedmine menu too, to prevent leaving the editor without saving. Also this solution is theme independent.
So I've modified the z-index of the iframe to try to keep over the main menu. Give it a try from the `develop` branch, and if if not works then I will adopt your solution.

[2017-05-14 17:58] mikitex70 commented on #21
Yes, there is a public available CKEditor plugin.
I've already installed it, I'm trying to let accept my extension: CKEditor expects extensions come from a specific folder, and this isn't the case. But I'm almost sure to be able to implement it.

[2017-05-15 07:25] MathieuDuc35 commented on #22
I have the redmine_drawio in my list ... when i save the diagram in .xml and put it as a file in redmine that show it well.
My problem is when I use the drawio attached button, i click it that add the lines in the wiki or in a issue. I have the image "double click to start drawing" so I double click on it, imake my diagram and then when I click on the "save" button redmine demand to reconnect to r

[2017-05-15 07:30] MathieuDuc35 commented on #22
This my redmine log when I try to save the diagram :

Started  GET "/issues/3369.json" for 10.38.8.187 at 2017-05-15 09:24:44 +0200
Processing by IssuesController#show as JSON
  Parameters: {"id"=>"3369"}
  Current user: mduc (id=102)
  Rendered issues/show.api.rsb (8.4ms)
Completed 200 OK in 40ms (Views: 8.6ms | ActiveRecord: 3.7ms)
Started PUT "/issues/3369.json" for 10.38.8.187 at 2017-05-15 09

[2017-05-15 12:56] amenk commented on #18
Jap it's pretty. Thank you!

[2017-05-15 12:58] amenk commented on #21
How do you plan to do it? Just adding the makro-code via button click or will the editor also directly open and let them draw the diagram?

[2017-05-17 17:17] mvange opened #23 "Compatibility issue with Omniauth Google plugin"
When attempting to add a diagram upon saving (from draw.io) the user is asked for a username/password however, since login was provided by Omniauth initially user does not have that information so currently impossible to use.

[2017-05-19 15:41] mikitex70 commented on #23
What plugin are you using?
I've search with Google and I've found various implementations of this kind of plugin.

[2017-05-19 15:51] mvange commented on #23
I'm using https://github.com/twinslash/redmine_omniauth_google

Do you know of any others that the plugin works with correctly?

Thanks!

[2017-05-19 16:18] mvange commented on #23
I should add that we are using a private cert (so it's reported as insecure by browsers) though the user has obviously accepted it by the time we get here so that *SHOULD* not be an issue.

In truth, though, I don't know if that's contributing to the issue or not.

[2017-05-26 10:19] MathieuDuc35 commented on #22
No more answer ?

[2017-05-26 16:01] mikitex70 commented on #22
Sorry for the long delay but it was a bit difficult to reproduce the problem.
I've just found a possible source of the error: the maximum attachment size.
In the Redmine API specification explicitly says that if the attachment size is over the maximum allowed than it is not saved and an HTTP 422 error will be returned.
Try to increase the maximum allowed diagram size in the `file` tab of Redmine S

[2017-05-27 14:43] mikitex70 commented on #9
No other feedbacks in the last months.
I suppose the problems are resolved so I'm closing this issue.
I'm almost ready to release a new version of the plugin: feel free to open a new issue if you still have problems with the latest version.

[2017-05-27 14:43] #9 closed

[2017-05-27 14:45] mikitex70 commented on #12
No feedbacks in the last months.
I close this issue as seems the are no other problems.
Feel free to open a new issue for the latest version of the plugin, which will be released soon.

[2017-05-27 14:45] #12 closed

[2017-05-28 15:31] amenk commented on #21
Works like a charm. I think directly editing in-pace is too complicated ... leave it.. When do you plan to make a release?

[2017-05-28 15:41] mikitex70 commented on #21
I'm working on creating a widget for the CKEditor, I'm trying to save the edited diagram.
I'm not sure to be able to get it working but I will try some more time.
Maybe I will release the new version this evening or tomorrow evening.

[2017-05-28 15:44] amenk commented on #21
ok, good luck.

[2017-05-28 15:48] amenk commented on #21
Could the width-in-pixels (I think it is kind of auto sizing anyways?) and picture format be pre-configured, for example in the plugin settings and maybe hide-able? Less is easier for the user ...

[2017-05-28 15:48] #19 closed

[2017-05-28 15:49] amenk commented on #18
fixed in *develop*

[2017-05-28 15:49] amenk commented on #19
fixed in *develop*

[2017-05-28 15:49] #18 closed

[2017-05-28 16:03] amenk opened #25 "SVG Format: Error: Not a diagram file when double clicking on or near a text in the diagram [develop]"
1. Edit issue or wiki page
2. Insert {{drawio_attach(foobar.svg)}}
3. Save
4. Double click to start drawing
5. draw a circle with a text in it
6. Save diagram
7. Double click the rendered diagram
8. The text is highlighted and draw.io loads
9. Popup Error: "Not a diagram file" from draw.io
10. Empty drawing space
11. Saving deleted the diagram
12. If I doubleclick out of the circle, not on the tex

[2017-05-28 16:14] amenk commented on #25
Not 100% reproducible .. but seems to depend on where I click

[2017-05-28 16:22] mikitex70 commented on #21
If the width is empty the image will be autosized, and at its maximum size it will fill the page width.
The size option is necessary when diagram is big and needs to be restricted to only a portion of the page.
It was a user request.

[2017-05-29 08:44] MathieuDuc35 commented on #22
It's not a problem of size .. I try to change in the settings but that doesn't change anythings. It's more like a permission problem or a missing attribute problem when it try to put the diagram in the issue

[2017-05-29 13:58] mikitex70 commented on #22
Try to use the plugin from the `develop` branch, it should write a more explicative message coming directly from Redmine. Maybe it gives some advice of what is going wrong.

[2017-06-01 15:56] amenk commented on #25
Any idea?

[2017-06-02 08:01] mikitex70 commented on #25
Try the new version from the `develop` branch, I've fixed the closing tag of the SVG.

[2017-06-02 11:44] amenk commented on #25
still happens sometimes ...

[2017-06-02 13:15] amenk opened #27 "Can't save when diagram is embedded on the ticket main text (not in a note)"
1. Edit the ticket header / main text
2. Add diagram
3. Save
4. Javascript error  Cannot read property 'match' of undefined

<details>

           drawioEditor.js:217 Uncaught TypeError: Cannot read property 'match' of undefined
  	    at referencesDiagram (drawioEditor.js:217)
	    at Object.savePage [as success] (drawioEditor.js:242)
	    at j (jquery-1.11.1-ui-1.11.0-ujs-3.1.4.js:2)
	    at Obj

[2017-06-02 13:17] amenk opened #28 "When editing a diagram in a private note, it is posted public (develop, easyredmine)"

[2017-06-05 06:24] mikitex70 commented on #25
Hi amenk, try new new version from develop, it fixes this and other bugs.

[2017-06-05 09:13] amenk commented on #25
jep, clicked lots of times, does not seem to happen any more. thank you!

[2017-06-05 09:13] #25 closed

[2017-06-05 09:15] amenk commented on #28
Not related to private notes, but if I edit a diagram in a note, it posts a new note over and over again. Maybe this is intended?
![selection_292](https://cloud.githubusercontent.com/assets/1087128/26778124/42d04fb2-49e0-11e7-9713-bf83da269e23.png)

[2017-06-05 09:16] amenk commented on #28
actually this is lower priority than #27 - I think most of the time it makes more sense to have diagram in the ticket head

[2017-06-05 09:31] amenk commented on #21
Are you still working on the inline editing? Otherwise it work's well and the issue can be closed ...

[2017-06-05 09:33] amenk commented on #13
It's EasyRedmine, right? Cause i am seeing "easy_instant_messages" in the log... Which easyredmine version is it? @cryshader

[2017-06-05 09:34] amenk commented on #13
Are you using the develop or master branch? The develop branch (only) works well with Easy Redmine 2016.05.07 here ...

[2017-06-05 09:36] amenk commented on #27
Fixed in PR #29

[2017-06-05 16:14] mikitex70 commented on #28
Yes, it is done intentionally.
The notes cannot be update (at least with the current REST APIs), the only thing that can be done is adding a new note. Maybe it will change in the future, if I can find the correct API.

[2017-06-05 16:21] mikitex70 commented on #21
No, the inline editing is momentarily suspended, it needs a lot of tuning so I'm planning to release it in the future.
Now I'm working on fixing bugs  and testing.

[2017-06-05 16:37] amenk commented on #28
On easyredmine the note needs no updating cause the file name does not
change. Can we remove that adding-a-note for easyredmine?

[2017-06-05 16:50] mikitex70 commented on #28
Yes, you are right... with EasyRedmine there is no problem :smile:.
I will fix it now.

[2017-06-11 15:07] #13 closed

[2017-06-11 15:07] #22 closed

[2017-06-11 15:07] #23 closed

[2017-06-11 15:07] #27 closed

[2017-06-11 15:07] #28 closed

[2017-06-12 14:17] MathieuDuc35 opened #30 "Duplicated diagram"
I create a new diagram in a new issue, save it. Then I double click again for update it. Save the new diagram, refresh the page and I have 2 diagrams instead of one :
![drawio](https://user-images.githubusercontent.com/25299314/27038201-9470534e-4f8a-11e7-8d71-2e84017646ac.png)

[2017-06-12 15:58] mikitex70 commented on #30
This is the expected behaviour if you are using the @drawio_attach@ macro: Redmine does not  have the API to update an attachment, not for deleting it (at least when I've started to implement the plugin), so the old version of diagram must be delete manually.
Also notice that every diagram name is saved with a suffix that is incremented after every save, so the attachment with the biggest suffix i

[2017-06-13 07:25] MathieuDuc35 commented on #30
Ok thanks for your answer

[2017-06-13 16:53] #30 closed

[2017-06-20 04:01] dinya commented on #17
mikitex70,

I updated DMSF to 1.5.9-master (and other used plugins to fresh versions) and SVG output is working now.

But math doesn't not work correctly: `` `\sin^2 x` `` is not rendered as math and  is `` `\sin^2 x` `` still. But it's rendered well in draw.io editor.

``{{mj (\sin^2 x) }}`` ([redmine_latex_mathjax plugin](https://github.com/process91/redmine_latex_mathjax)) doesn't working too.

[2017-06-20 16:30] mikitex70 commented on #17
Have you tried to export the diagram in SVG format directly from the editor and open it directly with a browser?
Maybe the SVG format can't handle math without additional libriaries.
I' will search if it needs to include something, maybe a Javascript library.

[2017-06-27 11:45] dinya opened #32 "Error while saving the diagram to DMSF with project names enabled in WebDAV"
If I enable

![dmsf_webdav_pjc_names](https://user-images.githubusercontent.com/2182222/27585886-58ff4332-5b57-11e7-9e74-dc3edf667a32.png)

then  redmine_drawio raises exception:
[code]

Redmine installation

[code]

with

[code]

[2017-06-27 12:06] dinya opened #33 "v0.7.1 is not working"
After updating to redmine_drawio v0.7.1 it's not possible to insert diagrams to text:
niether
[code]
or
[code]
is not working. The figure "Double click to start drawing"
![](https://github.com/mikitex70/redmine_drawio/blob/master/spec/defaultImage.png?raw=true)
is shown. But double click hides this figure and it doesn't start draw.io window.

Define diagram macros windows doesn't work too: "Insert

[2017-06-27 12:10] dinya commented on #17
@mikitex70

this way doesn't render LaTeX in proper way too.

[2017-06-27 16:56] mikitex70 commented on #17
So the problem seems to be related to the SVG format.
In the weekend I will do some test to see if using some Javascript library may overcome to the problem.
But maybe a Javascript library can solve the problem only if the SVG is embedded in a web page.

[2017-06-27 17:03] mikitex70 commented on #33
If the editor does not start maybe there is a Javascript error: what browser are you using?
I've tested only with Firefox 52.2; it should work fine with Firefox from version 40 (I think) and with Chrome.
I'm using Linux so I cannot test with Internet Explorer, which is the major source of incompatibilities.
Try to open the browser console (there is something usefull also from Internet Explorer 9)

[2017-07-03 11:00] dinya commented on #33
I use Chrome 59.0.3071.115 (64 bit) on Windows 7 (64 bit)

I add to wiki page ``Test_drawio`` for tests:
[code]

Browser console log state

* On page refresh

[code]

* On click on "Double click to start drawing":

[code]

But the plugin works well under Yandex browser 17.6.1.749 on Windows 7 (64 bit).

[2017-07-03 18:33] mikitex70 commented on #17
Try the new version from the ``develop`` branch: now it renders the math expressions in SVG diagrams.
Tested with Firefox; with Chrome I've some trouble, sometimes is working and sometimes not.

[2017-07-03 18:33] mikitex70 commented on #33
It seems the javascripts are old; try this:
* stop redmine
* remove the directory ``${REDMINE_HOME}/public/plugin_assets/redmine_drawio``
* start redmine

This will clean the published assets and force Redmine to re-read from the plugin sources.
Before this try a ``git pull`` on the ``redmine_drawio`` plugin directory, just to be sure to download the very last changes and pay attention if the pull

[2017-07-04 07:51] dinya commented on #32
It's ok now. I use dmsf from master branch (1.5.9) and redmine_drawio from develop branch

[2017-07-04 08:17] dinya commented on #33
@mikitex70

It's ok now:

1. I removed from ``plugins_asserts``
2. I use develop branch.

But

The buttons are lost in Chrome browser now too.

[2017-07-04 08:34] dinya commented on #17
Please, note that https://www.mathjax.org/cdn-shutting-down/

[2017-07-04 18:25] mikitex70 commented on #17
Already noted, changed the plug-in but the sources are not yet pushed.
Maybe this weekend I will release the new version.

[2017-07-06 06:26] dinya opened #35 "Cyrillic filenames doesn't work properly in develop branch"
I update my redmine_drawio plugin version to develop branch (2017-07-06).

I have few pages with cyrillic names in macros uses like
[code]

This work well in redmine_drawio v0.6.0. But after update I have blanks "Double click to start drawing" istead of my diagrams.

I try to create with develop branch

[code]

and

[code]

In the first case the plugin creates ``diagrams/.png`` file, in the second

[2017-07-07 11:42] bulbuliator opened #36 "Cyrillic symbols are not saved from the embedded editor"
redmine_drawio plugin version 0.7.1 has a problem with cyrillic symbols
when the diagram is created by drawio_attach macro from  the embedded editor.
When you try to save cyrillic symbols in embedded editor the following exception is thrown:
[code]
But embedding presaved diagram from draw.io with cyrillic symbols by obsolete drawio macro works fine:

![2017-07-07 14 37 22](https://user-images.gith

[2017-07-07 16:59] mikitex70 commented on #36
Related to #35.
I will work on it this weekend.

[2017-07-10 02:36] archonwang opened #37 "could not load drawio"
@mikitex70 , please check it.
Environment:
[code]

error log
[code]

[2017-07-10 05:47] mikitex70 commented on #37
Sorry, I've missed a couple of files.
I will commit them this evening.

[2017-07-10 16:34] mikitex70 commented on #37
Hi archonwang, I've committed the missing file but messages are in English.
Can you translate them?
Take also a look to the file ``config/locales/zh.yml``, there are two new messages that needs to be translated.
Thanks in advance.

[2017-07-10 18:43] archonwang commented on #37
@mikitex70 ,
OK, I will check it. Thanks.

[2017-07-10 18:57] archonwang commented on #37
@mikitex70
please check the pull request:
https://github.com/mikitex70/redmine_drawio/pull/38

[2017-07-11 00:35] ausghostdog opened #39 "3.4.0 support"
Hi,
Was in the process of upgrading a test server to the latest Redmine version, during the upgrade process the following error occurred
“Redmine::PluginRequirementError: redmine_drawio plugin requires a Redmine version between 2.6 and 3.3 but current is 3.4.0.stable.14186”

Like to know when 3.4 will be supported

[2017-07-11 05:44] dinya commented on #35
It's ok now.

[2017-07-11 05:44] #35 closed

[2017-07-11 05:47] dinya commented on #17
Tested with last Chrome, Firefox, Yandex under Windows 7 64 bit.

All works fine. Cann't note any troubles.

[2017-07-11 16:30] mikitex70 commented on #39
Redmine 3.4.0 stable is already supported in the develop branch.
I hope to be able to release an official version this weekend.

[2017-07-12 08:33] amenk opened #40 "Avoid Duplicate Diagram for Easyredmine"
Same as #30, but in easy redmine it is possible to solve.
Can you fix this :-) ?

[2017-07-12 13:43] mikitex70 commented on #40
Where it happens?
I've tested in wiki pages with the ``drawio_attach`` macro and the diagrams are saved without versioning, as expected.
To detect EasyRedmine I check if there is a plugin registered as ``:easy_redmine``; is changed something?

[2017-07-12 16:46] amenk commented on #40
In issues, the note is duplicated. The versioning works well, but the issue note is duplicated.

[2017-07-12 17:48] #40 closed

[2017-07-16 17:00] mikitex70 commented on #39
Fixed by the release v0.8.0.

[2017-07-16 17:00] #39 closed

[2017-07-17 15:35] amenk opened #41 "Mixed Content Warning / Cannot open Editor on Wiki page"
1. insert svg Diagram to wiki page
2. Double click to edit
3. Chrome warning / does not load:

    Mixed Content: The page at 'https://tracker.example.com/projects/foobar/wiki/Systemlandschaft' was loaded over HTTPS, but requested an insecure resource 'http://www.draw.io/?embed=1&ui=atlas&spin=1&modified=unsavedChanges&proto=json&https=0'. This request has been blocked; the content must be served

[2017-07-17 15:37] amenk commented on #41
Also does not work for issues - it was working before...

[2017-07-17 16:28] mikitex70 commented on #41
Check the drawio URL in the plugin configuration and make sure the url is ``//www.draw.io`` (without protocol).
If the protocol is specified then it is forced and some browsers don't let change the protocol from HTTPS to HTTP.

[2017-07-17 16:59] amenk commented on #41
It is set that way ... also we did not change anything. Maybe there was a change on draw.io ? I notices the http=0 parameter for example in the URL.

![selection_332](https://user-images.githubusercontent.com/1087128/28279803-f7de27e6-6b21-11e7-98b9-9fa2326ee3b5.png)

[2017-07-17 17:02] amenk commented on #41
The first call is also to a https URL:

https://www.draw.io/?embed=1&ui=atlas&spin=1&modified=unsavedChanges&proto=json&https=0

![network-tab](https://user-images.githubusercontent.com/1087128/28279973-8295cd76-6b22-11e7-8899-948cc76cc402.png)

[2017-07-17 17:07] amenk commented on #41
I guess setting it to https:// would work for now. But the // does not seem to be supported in the following code:

    // Disables SSL if the protocol isn't HTTPS; simplifies use of local drawio installations
    var useHttps = (Drawio.settings.drawioUrl.match(/^https:/i)? 1: 0);

    window.addEventListener('message', receive);
    iframe.setAttribute('src', Drawio.settings.drawioUrl+'?embed=1&u

[2017-07-17 17:11] amenk commented on #41
Workaround: Setting the URL explicitly to https://draw.io works for us (as the instance is only accessible via https anyways)

[2017-07-17 18:24] mikitex70 commented on #41
I've pushed a fix in the develop branch.
A quick fix without upgrade the plugin would be to specify `https://www.draw.io` in plugin configuration, so the autodetection of protocol would be bypassed.
The auto-disabling of the https protocol is needed for local drawio installations (for example in Tomcat) without setting a certificate.

[2017-08-03 12:37] TomyDMG opened #42 "Can't save diagramm"
Hi, I faced with srange problem.
When I finished editing the image and press the save button, I get an error:
![screenshot_15](https://user-images.githubusercontent.com/11715695/28922073-67cfb4e2-7861-11e7-9ba7-b1d9a23077bc.png)
But I use drawio_attach macro. Please help, if you have time.

Enviroment:
[code]
Error log:

[code]

[2017-08-03 18:32] mikitex70 commented on #42
The error message is generated by an HTTP 404 error (I need to distinguish errors generated by DMSF and by attachments so a more clear message can be shown).
During the post of the wiki body (to update the attachment name) the page was not found.
I think this is caused by the character encoding of the name of the wiki page: from your log it seems to be `Архитектура_ПО/Архитектура_ПО`.
As a workaro

[2017-08-04 08:26] TomyDMG commented on #42
You are right. An error occurs if there are non-English characters present in the wiki's URL.

[2017-08-10 15:37] cvaliere opened #43 "separate field for diagram"
Hi

Thank you for that plugin!

After using it for a while, I think it would be useful to be able to set up custom fields with format "draw.io diagram"

this is because, when specifying a new feature, I want my product owners to fill mandatory fields, like:
- Mockups
- Datamodel diagram
- Test cases
- ...

And I prefer to have separate fields for that, instead of putting everything in the field "d

[2017-10-30 21:03] carukc commented on #21
Hi Mikitex,

Did you ever get back to this.  We are using EasyRedmine as well and thi seems like a great enhancement.

Thanks
Chris

[2017-11-01 17:01] mikitex70 commented on #21
I'm working on it, but I'm busy with my work so I don't have much time to devote to this development.
At this time the buttons are working, I'm trying to allow inline editing without the need to use Redmine macros and to save the document.
I think I'll have during Christmas holidays, maybe I can release something in January.
I need to get it working together with my `redmine_reveal` plugin in Easy

[2017-11-01 17:19] carukc commented on #21
Hi... Thanks for the reply.  Yes... gave it a try and discovered that the buttons were in.  Inline editing would also be cool.  it's a bit of a hassle to have to save then edit.  I think that I'm going to take stab at adding a couple more options.  It would be really nice if you could do something like float=right or float=left to get the text to wrap around the image.  border=x would be interesti

[2017-11-09 18:49] Dambuster88 opened #44 "Undefined method `alias_method_chain' for Redmine::WikiFormatting::Textile::Helper:Module"
Just cloned the repo, restart the nginx and I got an error:

[code]
[code]

[2017-11-09 23:05] Dambuster88 commented on #44
I think the problem is the use of `alias_method_chain` which is deprecated in the 5th version of Rails.
I have found a nice article [here](https://www.justinweiss.com/articles/rails-5-module-number-prepend-and-the-end-of-alias-method-chain/) regarding this problem.

So, the problem seems to be in this [file](https://github.com/mikitex70/redmine_drawio/blob/1d2dbf75724acdcd5aff908c868a2f3259ea2fef/

[2017-11-10 13:39] Dambuster88 commented on #44
Workaround:
In the [file](https://github.com/mikitex70/redmine_drawio/blob/1d2dbf75724acdcd5aff908c868a2f3259ea2fef/lib/redmine_drawio/helpers/textile_helper.rb), replace the line 6, from `heads_for_wiki_formatter_without_drawio` with `super` and remove or comment the line 18 which contain `alias_method_chain :heads_for_wiki_formatter, :drawio`.
For me is working now without any other modification

[2017-11-11 16:08] mikitex70 commented on #44
Thanks for your suggestions @Dambuster88.
I haven't tested with Redmine 3.4, I hope to have time during Christmas holidays.
But you suggestions will simplify my work.
Thanks a lot.

[2017-11-13 15:40] nanego commented on #44
Redmine 3.4 is only compatible with Rails 4.
You should not use Rails 5.1.2.

[2017-11-15 14:34] nanego opened #46 "Include MathJax library"
Currently, the MathJax library is loaded through a CDN provider (http://cdnjs.cloudflare.com).
This may be a problem if you are using Redmine behind a proxy, or in a local network without any Internet connection.

[2017-12-27 10:48] mikitex70 commented on #36
No feedbacks in the last months.
Closing bug as seems to be fixed.

[2017-12-27 10:48] #36 closed

[2017-12-27 11:05] mikitex70 commented on #37
Closing bug as fix has been merged into master branch.

[2017-12-27 11:05] #37 closed

[2017-12-27 21:18] df46 opened #48 "Diagram attached to wiki not shown after page reload"
Dear,

I've got an issue similar to the #19, in wiki page the edition of draw.io element is not display after a page reload.

Steps to reproduce

    Go to an wiki
    edit the drawio element
    save in drawio
    all fine so far, diagram is shown
    reload the page

The modification disapear after the page realaod

-----
Environment:
  Redmine version                3.3.2.stable
  Ruby version

[2017-12-28 15:34] mikitex70 commented on #48
1. did you use the diagrams as attachments or documents?
2. are you using the plugin from the master branch or from the develop branch?
3. do you have non-ASCII character in the wiki page URL?

Try to see in the browser's Javascript console if there is an error: it's strange that there were no popups with error messages.

[2017-12-28 16:21] mikitex70 commented on #44
Thanks you @Dambuster88 for your suggestion.
I've applied your fix and tested with Redmine 3.4.2-stable, Ruby 2.3.4-p301 and Rails 4.2.8 (my containerized test environment) and works without troubles.
I need to test for older versions of Redmine (2.6, 3.0 and 3.1); maybe I will discard support for Redmine 2.6.

[2017-12-29 16:32] df46 commented on #48
1. I'm using the diagram as attachment {{drawio_attach(cycle_demandes.png)}}
2. I'm using the master branch but I can try the develop branch
3. Most of time, I try to avoid it (this is the case in my test)

The edition of the diagram, works fine in issue description or journal. I only have the issue in wiki

[2018-01-03 17:29] mikitex70 commented on #48
I've created a dockerized testing environment but I'm unable to reproduce your problem.
My testing environment:

    Environment:
      Redmine version                3.3.2.stable
      Ruby version                   2.1.9-p490 (2016-03-30) [x86_64-linux-gnu]
      Rails version                  4.2.7.1
      Environment                    production
      Database adapter               Mysql2

[2018-01-12 15:56] AThomsen opened #49 "Markdown support"
Currently the toolbar button is only shown when using Textile.

It should be shown when Markdown formatting is enabled as well.

[2018-01-16 01:03] nicklesandy opened #51 "Save SVG file to DMSF error on line 1 at column xxxxxxx : expected '>'"
1. Insert`{{drawio_dmsf(bahlahbahlah.svg)}}` marco to wiki or issue and save svg file  to DMSF
2. Reedit bahlahbahlah.svg one or several times and save to DMSF
3. Go DMSF to view  bahlahbahlah.svg that will occur following message:

`This page contains the following errors:
error on line 1 at column xxxxxx: expected '>'
Below is a rendering of the page up to the first error.`

I download bahlahbah

[2018-01-21 20:16] AThomsen opened #52 "Office URI Scheme for direct editing of MS Office files"
It would be nice if links to MS Office file would point directly to the wevdav-url, using the [Office URL Schema](https://msdn.microsoft.com/en-us/library/office/dn906146.aspx) , to allow editing of files without mapping webdav-share to a drive.

This is the way Sharepoint works.

[2018-01-22 19:46] jalbarran commented on #49
Hi, looking forward to get this change applied to a new release, Thanks for this great plugin!

[2018-01-22 20:24] AThomsen commented on #52
Posted in the wrong project - stupid me!

[2018-01-22 20:24] #52 closed

[2018-03-19 14:50] quimicefa opened #54 "saving draw.io diagram -> "Attachment extension is not allowed""
Hello,
I'm facing an issue when saving DrawIO diagram in a redmine issue. Not sure if this is caused by incorrect redmine configuration (extension allowed).

Steps to reproduce:
Go to a random issue
Edit
Insert drawio diagram,
![image](https://user-images.githubusercontent.com/5465238/37602208-2f576630-2b8c-11e8-91fa-27456135c1f3.png)
double-click to edit diagram
![image](https://user-images.githu

[2018-03-24 15:11] #46 closed

[2018-03-24 15:11] #42 closed

[2018-03-24 15:12] #49 closed

[2018-03-24 15:12] #51 closed

[2018-03-24 17:29] mikitex70 commented on #54
The problem was on the API call to save the attachment, the documentation is not so clear.
Try the develop branch, the bug should be fixed now.

[2018-04-13 18:12] M0d3rn15t opened #55 "drawing not included in pdf export"
Using the PDF export option for a Wiki page draw.io drawings are not rendered in the exported pdf file.

Info:
Editor: CKEditor

Environment:
  Redmine version                3.4.4.stable
  Ruby version                   2.3.6-p384 (2017-12-14) [x86_64-linux]
  Rails version                  4.2.8
  Environment                    production
  Database adapter               Mysql2
SCM:
  Git

[2018-04-19 19:06] mikitex70 commented on #54
I hope to release it the next weekend, I've been busy with the plantuml-markdown plugin.

[2018-04-20 11:49] dinya commented on #32
@mikitex70

I have the same problem with ``redmine_dmsf``` v1.6.1 (current master @ 2018-04-20) and ``redmine_drawio`` v0.8.1 (current master @ 2018-04-20).

I think https://github.com/mikitex70/redmine_drawio/blob/master/lib/redmine_drawio/macros.rb#L242

[code]

should be

[code]

(without ``-`` for project ID).

Maybe ``redmine_drawio`` should check ``redmine_dmsf`` version to save backward com

[2018-04-22 06:28] mikitex70 commented on #32
I've fixed the code in the `develop` branch.
I've checked the path syntax in the `DMSF` sources, it seems to work but I've noted strange behaviours in the DMSF webdav if projects names contains spaces and the `Use project name for project folder` option is set (unable to save, webdav directory non coherent with projects, ...).
If the webdav is really broken I cannot be sure to be able to save the

[2018-04-23 09:09] dinya commented on #32
If the webdav is really broken I cannot be sure to be able to save the diagrams.

I confirm the problem. With this checkbox, activated and whitespaces in the project name the saving is not working.

Maybe report the issue to DMSF project?

[2018-04-23 13:24] dinya opened #56 "MathJax library URL is disabled"
MathJax library URL is shown in settings, but it's not editable.

![mathjax_lib_path](https://user-images.githubusercontent.com/2182222/39129170-3a8b9028-4723-11e8-9539-e3a251ea1c0a.png)

``redmine_drawio`` v0.8.1.

[2018-04-24 07:16] mikitex70 commented on #32
I've open the issue danmunn/redmine_dmsf#851.
In the meantime I keep this issue open for some more time, to be able to confirm that all is working fine.

[2018-04-24 11:28] mikitex70 commented on #55
This issue cannot be fixed because:
* Redmine doesn't support exporting to PDF images with the so called *datas URIs*, used by drawio; I've managed to *monkey patch* Redmine to be able to export such kind of images but there are other issues
* the drawio app produces PNG images with an incorrect CRC for the embedded source diagram; they are displayed correctly but some software (such the PDF expor

[2018-05-01 15:52] #54 closed

[2018-05-01 16:13] mikitex70 commented on #32
Fix released in version `v0.8.2`, closing issue.
For to get all working we must wait the DMSF fix.

[2018-05-01 16:13] #32 closed

[2018-05-01 16:14] mikitex70 commented on #56
Fix released in version `v0.8.2`, closing issue.

[2018-05-01 16:14] #56 closed

[2018-05-03 03:16] dinya commented on #56
@mikitex70

Thanks a lot!

[2018-06-06 07:57] cancontrols opened #57 "big images in drawing causing slow thumbnail generation"
When I
1) import a big image (800 x 600px RGB-JPG, 300kB) in draw.io and
2) close io.draw with save-option and
3) refresh the page for update of history/thumbnails

it took 2 minutes to refresh redmine issue-page. With bigger images redmine-proxies are completely blocked and issue is not available anymore.
I see that png file with embeded xml-description was created successfully. Problem seems to

[2018-06-08 04:45] dinya commented on #33
Is not actual. Closed.

[2018-06-08 04:45] #33 closed

[2018-06-12 16:30] cdsousa commented on #6
Hi @mikitex70 , I also have the "Sign in" dialog problem although everything is OK with the folder (I guess).
Is there any other known situation where this can happen?

[2018-06-13 17:00] mikitex70 commented on #6
The `README` explains the settings needed by the plugin.
If you get a login dialog then you are not authorized to upload files using the WebDAV functionality of `DMSF`. Search in the `DMSF` documentation how to use the WebDAV directly (in Linux is quite easy, in Windows you need to install a client). Also check the `DMSF` plugin version, maybe there is a bug (the WebDAV has been completely rewritt

[2018-06-14 09:08] cdsousa commented on #6
@mikitex70  Thanks, it is working now.
I updated DMFS, and the "Sign in" dialog appeared, but I could successfuly put my credentials and it never asked it again.
I had, however, to disable the option "Use project name for project folder" option in DMSF for it to works, or else I got an error about the folder not existing.

[2018-06-14 09:40] mikitex70 commented on #6
Yes, that option has troubles, I've filed a bug to the DMSF project.
They have fixed it, but I think isn't released jet.

[2018-08-24 07:32] dinya opened #58 "Render Redmine commands and macroses in SVG"
Dear @mikitex70

Is it possible to render Redmine commands (like issue links ``#1``) and macroses in SVG diagrams how it works for other formatted text fields in Redmine (wiki, issues, comments, etc.)?

I think "double click to edit" may be placed to diagram menu (above/below figure). Also this menu will allow other features (buttons) like "Export diagram" and so on. What do you think about that?

[2018-09-06 07:11] Sergey-sirius opened #59 "error save draw.io in wiki page (redmine:3.4.6)"
Rendered plugins/redmine_drawio/app/views/redmine_drawio/_macro_dialog.html.erb (0.4ms)
Completed 200 OK in 204ms (Views: 200.1ms | ActiveRecord: 1.4ms)
Started POST "/uploads.json?filename=aa1_1.png" for 176.116.193.101 at 2018-09-06 06:59:54 +0000
Processing by AttachmentsController#upload as JSON
  Parameters: {"filename"=>"aa1_1.png"}
  Current user: admin (id=1)
Saving attachment '/home/redmi

[2018-09-07 16:42] mikitex70 commented on #59
The problem seems to be related to te redmine_messenger plugin...
Are you using plain Redmine or some commercial distribution like EasyRedmine?
Can you give me the version of the `redmine_messenger` plugin and, possibly where I can download it?
I would like to try to setup a test environment to reproduce the error.

[2018-09-24 10:38] M0d3rn15t commented on #55
This issue dramatically reduces the utility of this otherwise brilliant plugin.

I could foresee my redmine site almost entirely replacing all other office applications, however, with out a way to render pdf documents with the diagrams enclosed we will need to generate the documents with office and Visio anyway.

[2018-10-24 11:38] gengen1988 opened #60 "Duplicate footer after save charts (incompatible with redmine_wiki_extensions)"
Hi Michele,

This plugin is very useful to me, thanks!

However I find it may cause some trouble when use it with another plugin.

When I finish drawing and save it back, redmine_drawio plugin may duplicate the footer which is created by redmine_wiki_extensions

Like this:

![screenshot_20181024_193506](https://user-images.githubusercontent.com/1947568/47427772-eecff200-d7c3-11e8-9d41-7caf94a2f79c

[2018-10-27 15:18] mikitex70 commented on #60
I was able to reproduce the problem.
This affects only the `drawio_attach` macro, the `drawio_dmsf` should work fine.
The problem is cause by the `redmine_wiki_extension` that appends `{{fnlist}}` at the of the wiki page; when modifing the diagram, the `drawio_attach` plugin must update the wiki page and maybe there is something at the and, before the `{{fnlist}}` macro, so the `redmine_wiki_exten

[2018-10-27 17:04] #60 closed

[2019-03-05 16:59] mrPsycho opened #62 "Is there support for Redmine 4?"
hello!

does it work on redmine 4?

[2019-03-06 09:40] mikitex70 commented on #62
Never tested on Redmine 4.
It should work, I'm not using Rails deeply so I don't expect incompatibilities.

[2019-03-12 07:23] yousefchtourou opened #63 "How to upgrade"
How to upgrade from 0.8.2 to 0.8.3

[2019-03-12 09:07] mikitex70 commented on #63
Simply update the plugin sources (eg. `git pull`) and restart Redmine.

[2019-03-12 10:44] yousefchtourou commented on #63
without delete the old folder ?

[2019-03-12 10:45] yousefchtourou commented on #63
git pull not work

[2019-03-12 10:54] mikitex70 commented on #63
How do you have installed the plugin?
If you have download the first time with `git clone`, now a `git pull` will be enough. You can try a `git fetch`  before the `git pull` just to be sure to download last changes.
If you have downloaded it as a zip file, just delete the old plugin folder (best, move it out of the `plugins` folder`), download the new version and de-zip it.

[2019-03-12 10:57] yousefchtourou commented on #63
i delete the zip

[2019-03-14 16:55] goodnewz commented on #62
I am using it with Redmine 4.0.2 and it works fine. Hope this helps.

[2019-03-15 14:34] mikitex70 commented on #62
Thanks for yout contribute @goodnewz .

[2019-03-17 19:51] mrPsycho commented on #62
yep! it works! thanks!

[2019-03-17 19:51] #62 closed

[2019-03-22 16:49] jmtemmos opened #64 "Redmine 4.0 compatibility"
If this excellent plugin is compatible with 4.0 ?
This is the only thing that prevents me from upgrading right now....

[2019-03-24 07:59] mikitex70 commented on #64
Yes!
See #62.

[2019-04-25 01:06] bruce-cheng commented on #64
Hi, I am not sure if I could stop to link with DMSF as a temporary solution. This is due to DMSF has a compatible issue in my redmine 4.0.3, I install DMSF plugin successfully, but it will let redmine stop servicing, got the Error ID( Message from application: No such file to load -- mongo.rb (LoadError)...). still wait DMSF version 2.0.1.

Without DMSF, I can't save the diagrams.

Please advise m

[2019-05-15 15:14] nanego commented on #48
Hi @df46
Can you please confirm that this bug is fixed with the last version of the plugin?

[2019-05-15 15:17] nanego commented on #64
Hi @mikitex70
Could you please update the plugin page in Redmine.org and specify compatibility with Redmine 4?
https://www.redmine.org/plugins/redmine_drawio
Thanks

[2019-05-19 06:48] mikitex70 commented on #48
Re-tested the plugin versin 0.8.3 with a dockerized Redmine 3.3.2 and it works as expected.
For me the bug is closed.

[2019-05-19 06:48] #48 closed

[2019-05-19 07:07] mikitex70 commented on #64
Done, now it specifies the compatibility with Redmine 4.
I still testing, but I've found some problem with the `redmine_dmsf` plugin: the version `2.0.0` of that plugin doesn't install, the `devel-2.0.1` branch works better but there is some trouble with the WebDAV interface, so I can't save the diagrams.
So, my plugin is working fine but it isn't fully usable until the `redmine_dmsf` plugin is fi

[2019-05-25 10:28] df46 commented on #48
Sorry for the delay, I"vd tested the 0.8.3 and it's works fine.

Thanks a lot

[2019-06-06 22:26] bigbrozer opened #66 "SystemStackError (stack level too deep) when using Redmine 4.0.3"
Hey !
Thanks for this excellent plugin :heart: !
I did have an issue that seems to be fixed by removing the following in `lib/redmine_drawio.rb`:

[code]

This is a 🤮 workaround but at least, there is something in this module which cause Redmine Settings page to fail...

## Environment

* Redmine v4.0.3 ([bitnami/redmine](https://github.com/bitnami/bitnami-docker-redmine))
* Rails v5.2.2.1
* redmi

[2019-06-08 08:59] mikitex70 commented on #66
My test installation works fine.
Have you other installed plugins? I've seen that some plugin not explicitly adapted to Rails 5 can interfere with the `redmine_drawio` plugin.
I you look into the `textile_helper.rb` and the `markdown_helper.rb` you can see that are very similar, so it seems strange that only the `textile_helper.rb` breaks Redmine.
The problem seems to be related to the `alias_meth

[2019-06-14 21:24] bigbrozer commented on #66
I did some new tests even with latest redmine v4.0.4 always using the [bitnami/redmine](https://github.com/bitnami/bitnami-docker-redmine) image. But still the same issue.

What is interesting is that the issue appears only when logged in. For anonymous, everything is working fine (drawio are only png files after all, correctly displayed on issues / wiki pages).

I have no other plugins installed.

[2019-06-15 18:03] #66 closed

[2019-06-15 18:22] mikitex70 commented on #66
Ok, I was able to reproduce the error, I was looking in the Redmine administration instead of the project administration.
The bug inow should be fixed fixed, and I've keept the compatibility with previous versions of Redmine.

[2019-06-26 09:31] amenk commented on #21
I was working in the meantime, now it isn't anymore. Just wanted to say that :-) Is this being worked on?

[2019-06-26 16:46] mikitex70 commented on #21
I have a semi-working version... but I don't have much time to continue development.
Next weekend I will push my work on a separate branch so you can view/test/experiment on it.
Or maybe someone else can help in development...

[2019-07-06 00:52] Heng1984617 opened #67 "In wiki edit, don't add draw.io button to ckeditor"
I have installed redmine_drawio but it doesn't show in ckeditor of wiki editor.
why?

[2019-07-06 15:08] mikitex70 commented on #67
What version of Redmine? And what kind of distribution (Docker, Bitnami, EasyRedmine, standalone install)?
Have you selected in the main Redmine options `ckeditor` as default markup?
Give me some info otherwise I cannot help you...

[2019-07-06 17:04] Heng1984617 commented on #67
I have installed EasyRedmine. after then installed redmine_drawio plugins.
But I cannot see  drawio(diagram) button in ckeditor of wiki editor.

[2019-07-06 17:06] Heng1984617 commented on #67
I want to talk with you through skype. my skype is live:jamesp1984617

[2019-07-08 16:21] mikitex70 commented on #67
It's not easy for me to test with EasyRedmine, it's a commercial distribution.
I've tested the plugin with the [free ckeditor plugin](https://github.com/a-ono/redmine_ckeditor); the ckeditor in EasyRedmine should be detected in the same way.
Are you sure the plugin is correctly installed? Check in the `Plugins` link in the `Administration` page if the plugin is there: if it doesn't appear then som

[2019-07-09 11:04] Heng1984617 commented on #67
Hello. I installed redmine-drawio plugin in correct way. I see it  in Administraion page.
I think it is an error. Redmine drawoio plugin is not compatible with easyredmin ckeditor.
![image](https://user-images.githubusercontent.com/34353497/60851261-9ee36f00-a21c-11e9-98c6-03ac816ba2b0.png)
what I am trying to say is that you can fix the issue or not in easyredmine?

[2019-07-09 15:30] mikitex70 commented on #67
It was compatible, at least when [this comment](https://github.com/mikitex70/redmine_drawio/issues/21#issuecomment-304522102) was written.
Please note also that EasyReadmine has published a similar plugin after mine, and the role management you are expecting comes from their implementation.
As the plugin seems correctly installed, the only problem now seems to be the missing button from the ckedit

[2019-07-09 16:06] Heng1984617 commented on #67
When opening web console, I don't see any error.

[2019-07-12 13:00] rambowm opened #68 "redmine_drawio conflicting with additionals"
I have Redmine v4.0.2 standalone with Additionals plugin v2.0.19. When I install redmine_drawio v0.8.5 and restart redmine, I get a server error whenever I open an editor. The production.log indicates there seems to be a loop between 'heads_for_wiki_formatter' and 'heads_for_wiki_formatter_with_additionals':
[code]
This continues for about 12000 lines

[2019-07-13 09:38] mikitex70 commented on #68
This time the bug is not mine, but it is caused by the `additionals` plugin.
Test cases:
1. * Redmine 4.0.2
    * additionals 2.0.20
    Works fine
2. * Redmine 4.0.2
    * additionals 2.0.20
    * [redmine_wiki_extensions](https://github.com/haru/redmine_wiki_extensions) 0.9.0
   Error, stack overflow
3. * Redmine 4.0.2
    * redmine_drawio v0.8.5
    * redmine_wiki_extensions 0.9.0
    Works fin

[2019-07-13 09:38] #68 closed

[2019-07-18 18:02] kay54068 opened #69 "Add draw.io button to redmine_wysiwyg_editor"
I have installed redmine_wysiwyg_editor ,how Add draw.io button to redmine_wysiwyg_editor toolbar ?

* redmine_wysiwyg_editor:
https://github.com/taqueci/redmine_wysiwyg_editor

[2019-07-18 18:48] mikitex70 commented on #69
I've tested it only with the [redmine_ckeditor plugin](https://github.com/a-ono/redmine_ckeditor).
Let me check in the weekend how works this other plugin, maybe there is some difference that I can fix.

[2019-07-21 16:03] mikitex70 commented on #69
With some difficulty but I've managed to add the editing buttons in the `redmine_wysiwyg_editor` toolbar.
Can you give it a try pulling from the `develop` branch.

[2019-08-03 14:16] mikitex70 commented on #69
Merged on the `master` branch.
Thanks for letting me discover the [redmine_wysiwyg_editor](https://github.com/taqueci/redmine_wysiwyg_editor) plugin.
No feedback so I'm assuming it's all fine.
Feel free to open other issues if you find bugs.

[2019-08-03 14:16] #69 closed

[2019-10-23 08:52] butterflysb86 opened #71 "no edit mode after saving an empty page"
I use your Redmine plugin for drawio. I noticed that I get an empty start page back when I save an empty page. It is then no longer possible to start the edit mode by double-clicking. We had to go back in history and restore an older version to be able to use the plugin again. Is the problem known? We use redmine drawio plugin version 0.8.3 and Redmine version 3.4.6 on a linux server (Ubuntu 16).

[2019-10-23 16:31] mikitex70 commented on #71
I will setup a test environment in the weekend so I can do some testing and try to reproduce the issue.
In the meanwhile can you try with the version 0.9.0? Maybe it has been fixed indirectly by some commit.

[2019-10-24 11:27] butterflysb86 commented on #71
Thanks for the support. We will be able to install version 0.9.0 on our test system next week at the earliest. Then it might make more sense to check it out first. If it is not solved yet, you can still setup the test environment.

[2019-11-08 14:21] butterflysb86 commented on #71
I have tested version 0.9.0, but the problem persists. Even if we change to redmine version 4.0.5.

[2019-11-17 20:28] mikitex70 commented on #71
I'm unable to reproduce the problem, for me it works fine. My configuration is not exactly as yours (some plugins have different version), but I'm almost sure that there aren't incompatibilities.
Check the user privileges in Redmine: the user must be able to edit wiki pages and to save files in the DMS plugin or as attachment..
Also check if there is some browser plugin that blocks popups or do so

[2019-11-18 12:48] butterflysb86 commented on #71
The user privileges and the browser settings can't be the reason, because I can save changes in drawio. It only occurs when I create a new page with the drawio plugin and save it. Then I am on the Redmine site again. There I see an empty page, which is correct in that sense, but the function to open the edit mode with a double click is no longer available.  Here is an example:
![image](https://use

[2019-11-18 19:43] mikitex70 commented on #71
Ok, now I've understood the issue and I'm able to reproduce it.
I'm not sure to be able to fix it,I must detect an empty diagram which does not means an empty file.
But, why save an empty diagram? I understand that is something that can happen, but to delete a diagram is much more simple and secure to remove the macro from the wiki page.
Give me some day, I will try to fix this iissue.

[2019-11-19 10:00] butterflysb86 commented on #71
Thank you! We save empty renamed pages before linking them to other pages.

[2019-11-24 15:48] mikitex70 commented on #71
I've made a fix in the develop branch.
Can you give it a try to see if it is a reasonable solution?
When you confirm that it is working fine I will made an official release.

[2019-11-25 12:23] butterflysb86 commented on #71
Thank you! I tested the new version. Unfortunately it's not as I need it yet.  If I save an empty 2nd page, but there is still a 1st page with content, double click should open the edit mode and I should see page 1 (with content) again. For example:
I start with:
![image](https://user-images.githubusercontent.com/56911660/69539304-7fa76d00-0f84-11ea-9421-014a98839aa4.png)
and double click:
![image

[2019-11-25 19:46] mikitex70 commented on #71
Ok, I understand a bit more, but I have some question for you:
1. what macro are you using, `drawio_dmsf` or `drawio_attach`? They use a completely different storage method (the dmsf is versioned, the attach is versioned changing attachment name)
2. if I've understood correctly what you want is: when saving an empty diagram, the save doesn't happen and the old diagram is left untouched. Is that co

[2019-11-26 08:52] butterflysb86 commented on #71
1. we use drawio_dmsf
2. no, we want that the save does happen, but we only want that it is like caching and you can go on after save.
3. yes we use multi-page diagram. We want to use it with other users and we can tell them, that they have to switch to the first page before saving, but I think someone will forget it and then all is gone.  That happened twice.
Yes, you could force a switch. But ma

[2019-11-26 19:48] mikitex70 commented on #71
I don't have control on how drawio saves the diagrams, I can only trigger the save.
Do a new pull from the develop and try this version: when a diagram is empty the save is blocked. If it is a multi-page diagram then the message says to switch to another non-empty page.

[2019-11-27 09:10] butterflysb86 commented on #71
Thank you very much. That helps me a lot!

[2020-01-06 07:30] #71 closed

[2020-01-06 07:45] mikitex70 commented on #67
Fix merged to branch master with tag v0.9.1.
Closing this issue as fix seems to solve the problem.
Thanks for reporting this issue.

[2020-01-06 07:45] #67 closed

[2020-01-09 13:35] nanego opened #72 "Error when saving diagram with version 0.9.1"
Hello

We tried to update the plugin today, but we get an error when saving diagrams with the latest version of the plugin (v0.9.1) :

![copie_message](https://user-images.githubusercontent.com/1620522/72071718-bc3ce700-32ec-11ea-98b8-676bf24b4e29.png)

With the previous version, v0.9.0, everything works fine.

[2020-01-09 19:29] mikitex70 commented on #72
Thanks for reporting.
There was a small bug in the base64 decoding routine; now should be fixed in the develop branch.
Give it a try if you can, tomorrow  I will release the new official version.

[2020-01-10 17:08] mikitex70 commented on #72
Released version v0.9.2 of the plugin with this fix.
Thanks again for reporting it.

[2020-01-10 17:08] #72 closed

[2020-01-13 08:52] nanego commented on #72
Thank you for taking care of it and being so quick.

[2020-02-10 19:03] mikitex70 commented on #64
No more feedback, I assume the issue is resolved.

[2020-02-10 19:03] #64 closed

[2020-02-19 03:33] tazus opened #74 "only shown in Wiki editor not issue note editor"
after install, the function shown and working in Wiki editor ok, but not in issue's note editor nor other editing area. I used ckeditor.

What could be the problem? TIA
Wiki
![image](https://user-images.githubusercontent.com/79111/74799422-6dcb3100-530b-11ea-8be3-32d97e0575ac.png)

issue noted
![image](https://user-images.githubusercontent.com/79111/74799483-95ba9480-530b-11ea-9e5b-66b6f1462059.pn

[2020-02-25 06:38] mikitex70 commented on #74
I need some more info to be able to reproduce your issue:
* Redmine version
* CKEditor plugin version
* any other installed plugin which may interfere with the editing
* browser you used (just to be sure that the problem is not browser specific)

Without the CKEditor plugin the buttons show fine in the note editing form, so it should work also with the CKEditor. Maybe I've missed something...

[2020-03-13 11:15] pngoLBN opened #75 "Compatible to Redmine 4.1.0?"
Hi,

Currently I use these redmine and redmine_drawio version:
redmine: 4.1.0
redmine_drawio: v0.9.3

It worked well during setup progress and can start server as well. But when I tried to create a project, it return "Internal Error" with below log:
[code]
Then I removed redmine_drawio and it worked well.
So do you have any plans for upgrade plugin to work with redmine 4.1.0?

Thanks.

[2020-03-13 11:52] mikitex70 commented on #75
I've not tested Redmine 4.1.0.
What I look is a stack overflow caused by a loop between `redmine_drawio` and the `emojibutton` plugins.
From my experience this happens when a plugin uses a deprecated Rails method (incompatible from Redmine 3 and Redmine 4); I've worked around this in `drawio_redmine` but there are other plugins not ported to Rails 5 (used by Redmine 4).
If you can post all install

[2020-03-14 09:46] ataraxus commented on #75
I've till now, no issues:
[code]

[2020-03-14 09:48] ataraxus commented on #75
btw. @mikitex70 Thanks for your work!
I'm contributor in redmine_openid_connect ;)

[2020-03-14 10:49] pngoLBN commented on #75
Thanks for your work. I'll make some tests and let you know later.

[2020-03-21 05:09] pngoLBN commented on #75
Thanks a lot. We just checked again. Removed emojibutton is worked fine.

[2020-03-21 05:09] #75 closed

[2020-04-30 16:09] ilkosta opened #76 "error save draw.io in wiki page (redmine:3.4.12)"
Hello,
we have been using your plugin nicely for a long time, but recently when I save a modified drawing inserted by the macro `drawio_attach` I got the error

[code]

the log say
[code]

Can you help me?

thanks,
Costantino

[2020-04-30 17:01] mikitex70 commented on #76
Hi @ilkosta, the `drawio_dmsf` macro uses the WebDAV functionality of the [DMSF plugin](https://github.com/danmunn/redmine_dmsf) to save diagrams.
But that functionality must be explicitly enable in the DMSF plugin configuration: go to the `Administration` page, click on `Plugin`, find the `DMSF plugin` and in the right there is a `Configure` link, which takes you to the plugiin configuration page

[2020-04-30 21:29] ilkosta commented on #76
Hi @mikitex70 the point is that we are using the `drawio_attach` and not `drawio_dmsf`
In the past `dmsf` was installed but never used and then removed.
The years and versions of redmine have passed, but the plugin has never been installed again.

Updating a documentation written by a supplier where draw.io had been used with `drawio_attach` macro, I realized that it no longer updated the attached

[2020-05-02 08:21] mikitex70 commented on #76
Can you tell me the versions of Redmine and the Drawio plugin?
I will try to reproduce your issue. In the meantime I will do some test with Readmine 3.4.6.

[2020-05-02 08:54] ilkosta commented on #76
I'm using redmine 3.4.12 by https://github.com/sameersbn/docker-redmine
In the attachment the list of installed plugins (in csv format)
[plugins.csv.txt](https://github.com/mikitex70/redmine_drawio/files/4567342/plugins.csv.txt)

Thank you very much for everything and let me know if I can somehow investigate the problem.
I don't know Ruby but redmine and its plugins are now so useful and well made

[2020-05-03 08:59] #76 closed

[2020-05-03 09:02] mikitex70 commented on #76
Found the problem, it affects only the main wiki page.
Try the new version, it should fix the issue.
Thanks for reporting.

[2020-05-04 09:19] ilkosta commented on #76
simply awesome

[2020-05-04 13:56] danaivehr opened #77 "Error saving draw.io as issue attachment"
I have an error when saving diagram as attachment in issue.
No any problems with dmsf in issue, and no any problems with both attachment and dmsf in Wiki.

Steps to reproduce:
* Add new issue comment with `{{drawio_attach(Test.png)}}` macros
* Double-click yellow button and draw something
* Save
* Now diagram shows up in comment, but error pop-ups: `Make sure WebDAV capabilities of DMSF module is

[2020-05-04 16:39] mikitex70 commented on #77
See #76, it's a problem only with the main wiki page, other are working fine.
Download version [0.9.4](https://github.com/mikitex70/redmine_drawio/releases/tag/v0.9.4) which fixes this issue.

[2020-05-04 17:34] danaivehr commented on #77
@mikitex70 i think my issue is not a dupe, but a consequences of that fix.
I've cloned your repo just half a day ago, #76 was already fixed there.
Please notice that i have error with **Issue**, not with **Wiki**.

And now when i reverted e2201bb, error is gone.
It seems to be a regress so.

[2020-05-04 17:57] mikitex70 commented on #77
Ok, I will check your issue. I've not tested issues so maybe I've introduced a new bug.

[2020-05-04 18:37] #77 closed

[2020-05-04 18:47] mikitex70 commented on #77
You were right, I've introduced a new bug with last fix.
Try version `0.9.5`, which now fixes also the bug with issues.
Sorry for the drawback.

[2020-05-05 09:27] danaivehr commented on #77
Thanks, now it's working!

[2020-05-18 20:32] ju-h4 opened #78 "Saving a diagram does not work: "Current user: anonymous" / "Forbidden 403""
Saving a diagram is not possible with my installation.

The logs indicate that the username is not set correctly when saving ("_anonymous_") and Redmine probably rejects the upload for this reason:
[code]

Any hints how to solve that?

**My configuration:**

Docker-image: bitnami/redmine:4
[code]

[2020-05-19 18:02] mikitex70 commented on #78
It was not tested on Redmine 4.1, but I've successfully reproduced your issue.
I will fix it in the next days.

[2020-05-19 18:14] mikitex70 commented on #78
It isn't a bug, you must enable the REST API.
Go in `Administration` -> `Settings` -> `API` tab and check the `Enable REST web service` flag.

[2020-05-19 18:14] #78 closed

[2020-05-19 19:37] ju-h4 commented on #78
@mikitex70 Oh well, yes thanks! I totally forgot about this when I reinstalled redmine.

[2020-06-02 16:10] wwwindisch opened #79 "Compatibility with Wiki Extensions: Don't duplicate content of Header and Footer pages"
## Current Behavior
We're using the draw.io plugin together with the Wiki Extensions Plugin in the same Redmine installation. Wiki Extensions ships many additional features for Redmine Wikis. One of them are Header and Footer pages, whose contend is prepended (respectively appended) to all pages in the Project Wiki. Typical content for the Header page is e.g. the table of content macro `{{toc}}`,

[2020-06-03 08:31] mikitex70 commented on #79
Hi @wwwindisch, can you specify versions of Redmine and the drawioand wiki extesions plugins?
I need to reproduce the problem to be able to fix it.

[2020-06-03 12:01] wwwindisch commented on #79
Thanks for your quick reply and sorry for leaving this information out in my first post.
Environment:
[code]

Since it's a production environment, the plugins haven't been updated to the very last version, yet. But as far as I've screened the issue lists, there haven't been any fixes for the described problem meanwhile.
Thanks as lot in advance!

[2020-06-03 15:47] mikitex70 commented on #79
Hi @wwwindisch, I've pushed a fix in the `develop` branch.
Give it a try, if all works fine I will release it.

[2020-06-13 05:42] wwwindisch commented on #79
Sorry for the late reply; it took a while to get a maintenance time slot for trying.
Good news: The fix seems to work! Thanks a lot for your quick response!

[2020-06-13 05:42] #79 closed

[2020-06-21 06:49] mikitex70 commented on #74
No more feedback, issue closed.
Feel free to reopen it if you think this is the case.

[2020-06-21 06:49] #74 closed

[2020-06-21 06:50] mikitex70 commented on #63
No more feedback, issue closed.
Feel free to reopen it if you think this is the case.

[2020-06-21 06:50] #63 closed

[2020-06-21 06:50] mikitex70 commented on #59
No more feedback, issue closed.
Feel free to reopen it if you think this is the case.

[2020-06-21 06:50] #59 closed

[2020-09-24 08:41] wwwindisch opened #80 "Warning "app.diagrams.net will stop working for embed mode. Please use embed.diagrams.net""
Dear @mikitex70,

For a couple of days the warning "app.diagrams.net will stop working for embed mode. Please use embed.diagrams.net" pops up in the draw.io editor. I assume that it's just a server URL setting, which needs to be changed such that it points to the new URL?

![Error Message draw.io](https://user-images.githubusercontent.com/28566230/94121999-4795e280-fe52-11ea-9628-c7ef72efc06d.png)

[2020-09-24 16:37] mikitex70 commented on #80
Thanks for reporting this change, I will fix it as soon as possible.
In the meanwhile you can override the default value changing the `Draw.io service URL` in the plugin settings page; you can set it to `https://embed.diagrams.net` and it should work.

[2020-09-24 18:11] #80 closed

[2020-09-24 18:13] mikitex70 commented on #80
Updated the default value.
Checkout the v0.9.7 version for the fix.
Thanks again for reporting this issue.

[2020-09-25 03:55] wwwindisch commented on #80
Wow! That was quick! Thanks a lot for the fix.

[2020-10-13 14:59] chmich opened #81 "patch failed"
Hi,

what is here to do?

on the last line, he wants the `File to patch:`
or did there something else went wrong?

thanks,
Chris

[code]

[2020-10-15 16:41] mikitex70 commented on #81
Hi @chmich, sorry for the delay.
The patch is 4 year old, I suppose that they have changed something that make the patch inapplicable.
Try to build the drawio war without the patch, I think it would build without errors.
Or you can try the drawio Docker container, so you wouldn't need to build the server.

[2020-10-17 19:06] SeminYun opened #82 "Error When saving"
When We save Draw.io, We can
show error message

![image](https://user-images.githubusercontent.com/5058355/96351557-1332e080-10f7-11eb-9634-0d7043223eda.png)

When we edit descript, All draw.io is gone..

[2020-10-17 19:08] SeminYun commented on #82
We are using Bitnami Redmine 4.1.x

[2020-10-17 19:18] SeminYun commented on #82
Resolved

![image](https://user-images.githubusercontent.com/5058355/96351813-01523d00-10f9-11eb-91f3-ad50c9513525.png)

[2020-10-21 18:24] mikitex70 commented on #82
Closing issue, as it is resolved.

[2020-10-21 18:24] #82 closed

[2020-11-04 11:16] tomcss commented on #78
I ran into this same problem. It might be worth including it in the documentation on draw_attach.

[2020-11-07 17:31] mikitex70 commented on #78
It was already mentioned in the `README.md`.
I've enhanced the paragraph to let it a bit more visible, adding also some more detail on the configuration.

[2020-11-18 15:32] fpaaske commented on #66
I got a similar problem on redmine 3.4.2. It happens when I edit a wiki page with textile formatting, but not for wikis with markdown. I was using the latest version of this plugin when it happened.

[code]

[2020-11-18 19:31] mikitex70 commented on #66
The `stack level too deep` error is caused by old plugins which conflicts with newer that support the new rails version.Try to upgrade the old or downgrade the too new.
For every plugin check in the source repository if there are issues or versions specific for Redmine 3.4 (maybe you have installed a plugin for Redmine 4). And read the README, usually it mentions which version too use for every Re

[2020-11-18 19:55] fpaaske commented on #66
Thanks for the quick response! The error came after adding this plugin and disappeared after I removed this plugin again.

Do you mean that other plugins can conflict with this plugin and that's what's causing this error?

[2020-11-19 06:55] mikitex70 commented on #66
Yes, maybe.
But first try pulling again the `redmine_drawio` plugin.
You questioned me and I double-checked the code: I found some code that I had commented to test the textile format, code specific for Redmine 4.
So maybe it's my fault.
If the error didn't disappear, than other there are other plugins causing the error.

[2020-11-19 14:56] fpaaske commented on #66
Thanks for checking! After pulling latest code I got this error when restarting redmine:

[code]

[2020-11-19 19:16] mikitex70 commented on #66
My fault, one line was left commented.
Maybe I'm working too hard...
Try again, now it should work.

[2020-11-20 06:57] fpaaske commented on #66
Thank you @mikitex70! It seems to work well now 👍

[2020-12-24 14:04] xanadiu opened #85 "Content Security Policy preventing plugin from working?"
I am trying to get the plugin working, but with no success.

I...
- [x]  installed version 0.9.9 of the plugin
- [x] with Redmine 4.1.4,
- [x] I configured `//app.diagrams.net` as the Draw.io service URL and
- [x] made sure that the REST API is (already) active.

To test the plugin I have attached a diagram „minitest.svg“ to a wiki page and embedded it with `{{drawio_attach(minitest.svg)}}` in the

[2021-01-04 08:27] mikitex70 commented on #85
Hi @xanadiu, sorry for the delay.
I have done some test and all works fine. What is wrong is the url of the online service: the correct url is `//embed.diagrams.net`, which is the default if you leave the parameter blank in the configuration (the hint is wrong, I've fixed it in the develop branch).

[2021-01-05 12:04] xanadiu commented on #85
Hi @mikitex70, I also tried the plugin with the default configuration by explicitly entering `//embed.diagrams.net` which results in the same console errors (with the adopted URLs).

But when I leave the configuration value blank, there is the interesting effect that the console errors turn into:

So the resource `/images/ajax-loader.gif` is not found on our installation (the loading is initiated

[2021-01-07 17:59] mikitex70 commented on #85
Hi @xanadiu, I've done some more test and yes, there is a bug when the configuration url is changed from the default (empty) to some string and then back to empty: in this case the default `//embed.diagrams.net` is ignored and then shows the error trying to load the `ajax-loader.gif` image.
But if the url is set to `//embed.diagrams.net` it should work fine.
You mentioned that you've attached an s

[2021-01-29 11:17] AThomsen opened #86 "Request: Toggle layers"
It would be nice if layers could be toggled the same way it is possible when draw.io drawings are exported as html.

[2021-02-04 19:20] illetschko opened #87 "Diagram could not be saved to DMSF"
I did a new installation of Redmine version 4.1.1.stable
on Debian 10, with
redmine_drawio  v0.9.9
redmine_dmsf  v2.4.5

works amazing, !!
This is really a great thing!!!!

Until I come to save. Message: "Error saving diagram: Make sure the DMSF folder exists and is accessible"
But saving with WebDAV works (with VS Code "Remote Workspace" plugin).

In 'production.log' of redmine I found:
Completed

[2021-02-05 06:48] mikitex70 commented on #87
Hi @illetschko,
I've done a quick check and yes, something is not working as expected.
The code was born with Redmine 3.0, so maybe something has changed (or I've made a mistake).
I will do some more investigation in the weekend.
Thanks for reporting.

[2021-02-06 09:58] mikitex70 commented on #87
Ive checked an old installation (Redmine 3.3.2 and DMSF 1.5.9) and works fine with and without your fix.
I suppose the code was from older code, maybe in the latest versions something has changed/dropped.
But your fix works fine in older versions too, so thanks for reporting.
It will be released in the next major, I hope in this weekend.

[2021-02-07 19:35] mikitex70 commented on #86
Hi @AThomsen, in the `develop` branch there is a new preliminary version of the plugin.
It is somewhat a breaking change, in the sense that the `drawio` macro does nothing: the code is merged in the `drawio_attach` macro.
The `drawio_attach` and `drawio_dmsf` macros have now full support to diagrams in XML format; using the editor toolbar buttons is the easiest way to write/edit the macro code. In

[2021-02-21 17:36] #81 closed

[2021-02-21 17:46] mikitex70 commented on #86
Released in the `v1.0.0` version of the plugin.
Thanks for your enhancement suggestion.

[2021-02-21 17:46] #86 closed

[2021-02-21 17:47] mikitex70 commented on #87
Fixed in the new `v1.0.0` release.
Thanks for reporting the issue.

[2021-02-21 17:47] #87 closed

[2021-02-21 17:48] mikitex70 commented on #85
No more feedback, closing the issue.

[2021-02-21 17:48] #85 closed

[2021-02-22 17:50] mikitex70 commented on #85
The bug is now fixed in version `v1.0.0`.
No more feedback, so I close this issue.

[2021-02-25 08:29] lcasanova78 opened #88 "Redmine 4.0.1"
I have used the plugin in redmine 3.3.0 and everything is correct, but when I install it in redmine 4.0.1 the icon to create the draw.io diagram does not appear.
It is not compatible with 4.0.1 or I have done something wrong. I have installed it the same as in 3.3.0 and I have activated the REST API.

[2021-02-26 17:56] mikitex70 commented on #88
It's tested with Redmine 4.1.1.
Just tested with Redmine 4.0.1, to be sure all is working fine: the icon for the `drawio_attach` in the editor is there and functions as expected, in textile and markdown mode.
Check in the browser console if there are Javascript errors; try also to clean the browser cache.
The 4.0.1 is a new installation or an already installed Redmine? What flavor of Redmine is (v

[2021-04-28 06:14] gordwcampbell opened #90 "Error when referencing or creating Draw.IO Diagram with Diagram Format XML"
Hi! Firstly, thanks for building such an awesome plugin!

We have found an issue when creating or referencing existing Draw.IO diagrams in Redmine when they are of the XML type.

To step through the problem:

1 - We edit a Wiki page and click the "Attach Draw.IO Diagram" button from the toolbar.
2 - Fill out as though we are making a XML diagram type
![image](https://user-images.githubusercontent.

[2021-04-28 06:37] gordwcampbell commented on #90
Also - weirdly, the diagram displays correctly if you're not signed in.

[2021-04-29 05:49] mikitex70 commented on #90
Hi @gordwcampbell,
can you tel me what browser you are using? I've done my tests with Firefox, maybe I've used some Javascript not so compatible with other broowsers.

[2021-04-30 04:12] gordwcampbell commented on #90
Hi,

I just went in an re-tested and everything seems to be working now.

I was using Chrome when I was experiencing problems.

Marking as closed.

G

[2021-04-30 04:12] #90 closed

[2021-05-07 06:55] ovhk opened #91 "Cannot double click to start drawing with a single quote in the page name"
Create a page with a single quote in the title : Tot'o

insert {{drawio_attach(toto_1.png)}}

You will not be able to double click on the button "double click to start drawing"

Thanks for your help (and plug'in !)

[2021-05-07 12:49] martinbra opened #92 "Error with diagram in Wiki page with "+" sign in name."
Hi @mikitex70 , first of all, thanks for the amazing effort on keeping your plugin updated. It's sad that not many plugins receive this much care.

I'm having a similar problem to #77, but probably due to an path name conflict due to a `+` sign in the wiki page name.

Steps to reproduce:

1. Create wiki page with name `testing+` or `Te+st`, or any name with a + sign.
2. Use macro `{{drawio_attach(

[2021-05-10 18:33] mikitex70 commented on #91
Hi @ovhk, I've fixed the bug in the `develop` branch.
I will released it as soon as possible, as soon as I have also fixed bug #92, very similar to this one.

[2021-05-10 18:36] mikitex70 commented on #92
Hi @martinbra, this bug seems very similar to #91, which is now fixed in the `develop` branch.
The only trouble is that I cannot reproduce the popup showing up with the WebDAV message.
I will do more test...

[2021-05-10 19:12] martinbra commented on #92
Thanks.
Could you reproduce the failure to save the diagram? (After F5 the diagram is gone from the page, but is listed in the redmine files folder).
If you want me to test the branch before releasing I'm opened to it.

[2021-05-10 19:19] martinbra commented on #92
And going further down the line... how can we be sure that no other symbol can cause this issue? (I haven't tested any beyond `+`?

[2021-05-13 05:48] abeeshmp opened #93 "When I add digarms to some old tasks, Page is staying in "loading' and when page is refreshed, it comes to old stage"
When I try to have a new diagram or edit a existing diagram in an old redmine issue, then I am not able to do it. The issue page stays in 'Loading message' for long time once I press on submit button.

When I looked into the redmine files/ folder, the new edit is getting saved as new file, but when I checked the database table 'attachement' the new attachement is not mapped to any tasks, its field

[2021-05-13 06:09] abeeshmp commented on #93
Adding some more information,

IF I edit a diagaram in a newer task and save , then I am getting following lines in the log,

192.168.16.12 - - [13/May/2021:11:31:35 IST] "POST /uploads.json?filename=test_7.png HTTP/1.1" 201 104
http://192.168.5.100:3000/issues/21878 -> /uploads.json?filename=test_7.png
192.168.16.12 - - [13/May/2021:11:31:36 IST] "GET /issues/21878.json?include=journals HTTP/1.1"

[2021-05-13 18:21] #91 closed

[2021-05-13 18:21] #92 closed

[2021-05-13 18:34] mikitex70 commented on #91
The fix is now released in the `v1.0.2` release.
Thanks for reporting this issue @ovhk, it could be a security issue.

[2021-05-13 18:37] mikitex70 commented on #92
Hi @martinbra , I was able to reproduce your issue and to fix it.
It's now released in the `v1.0.2` release.
The issue was caused by the wrong encoding of the `+` sign in the url.
The fix should resolve issues with other characters too.
Thanks for reporting it.

[2021-05-13 19:23] mikitex70 commented on #93
Hi @abeeshmp, I've tested diagrams in a description of an issue with Redmine 4.1.1 and all is worked fine.
Can you give me some more information like Redmine version and kind (vanilla, Bitnami, EasyRedmine, ecc. ), what plugins are installed...
You can use the `Administration` -> `Information` page to get the relevant details.

[2021-05-13 20:06] martinbra commented on #92
Working like a charm! Thanks.

[2021-05-14 01:48] abeeshmp commented on #93
hi @mikitex70 ,

I also don't have issue when I use draw.io diagrams with the new/recent issues . Its happening with editing of diagarams in old issues or when I add new diagram to old issues.

Could you please look into the log I sent in previous comment? Do you get any idea why its stuck on GET request.?

Please see the details you asked for,

Environment:
  Redmine version                4.0.5.

[2021-05-19 08:08] abeeshmp commented on #93
@mikitex70
Please look into this, this is a blocking issue for us. Please help.

[2021-05-19 17:06] mikitex70 commented on #93
I'm still testing but I'm unable to reproduce your issue.
At work we use an old Redmine `3.3.2` with diagrams 5 years old and all is working.
Can you give me some more information, like:
* macro you use (`drawio_attach` or `drawio_dmsf`)
* diagram format (`xml`, `png` or `svg`)
* can you attach (or email me) an example diagram which is not working?

I suspect there is a Javascript error (strange i

[2021-05-21 09:23] abeeshmp commented on #93
@mikitex70
you were right, there is an error in java script. Am not sure about the reason. Please check the screenshort attached.
![image_2021_05_21T09_22_38_533Z](https://user-images.githubusercontent.com/10922586/119115052-5c0f9680-ba44-11eb-9cf7-4e689b9c2b18.png)
![image_2021_05_21T09_21_15_017Z](https://user-images.githubusercontent.com/10922586/119115062-5dd95a00-ba44-11eb-8e25-1758f4e6a1ac.p

[2021-05-21 09:35] xanadiu commented on #85
Hi @mikitex70, sorry for not getting back to you earlier.

I just tested my installation with `v1.0.2` of the plugin, but without any luck. The behaviour remains the same.

I still get CSP-Errors in the console when I try to edit a diagram (with a double-click).

My environment:
* Redmine: `4.1.1.stable`
* Firefox: `88.0.1` (also applies to Safari and Chrome)
* redmine_drawio: `1.0.2`

I also foll

[2021-05-21 16:43] mikitex70 commented on #93
Ok, now I know where too look for the error, I will try to replicate it.
Diagrams are define in the description of the issue or in the notes (saved when an issue is updated)? The error raises when it look into issue notes, I will try with and without diagrams on them.

[2021-05-21 16:58] abeeshmp commented on #93
The diagram was added to description section  and the used option is drawio_attach.

The step I did is , double click on the diagram,  then click on save but on on draw IO web page. Then it will come back to redmine issue page and it will stay with  'loading' message.

[2021-05-21 17:04] mikitex70 commented on #93
I cannot reproduce the issue, but I've committed in the `develop` branch a fix that should solve it.
Give it a try.

[2021-05-21 17:55] abeeshmp commented on #93
Thats a good catch, It resolved the issue.

I put some console prints and understood that , I am getting note's body as null for some old issues. Do you have any idea why that is null for some issues alone?

[2021-05-21 18:09] mikitex70 commented on #93
Glad to hear this.
No idea, maybe an old Redmine version was saving journals in db in a different way, and when de-serializing them a `null` is put in the JSON.
For me the fix is enough, and is also more correct to prevent future errors.
I have another issue to resolve, then I will do a release.

[2021-05-21 18:11] abeeshmp commented on #93
okay.Thankyou for your time.

[2021-05-21 19:09] mikitex70 commented on #85
Upgraded Firefox to version 88, but I cannot reproduce the issue.
Are you behind a proxy, or is Redmine installation exposed with a reverse-proxy?
Can you check then request and response headers of the blocked request? Maybe there is some hint on why they are blocked.

[2021-05-21 21:08] xanadiu commented on #85
The blocked request does not show up in the network analyser as it is blocked. But the Redmine HTML content, which I suspect to be responsible, has these response headers:

* Content-Security-Policy: default-src 'self'; script-src 'unsafe-inline' 'self' 'unsafe-eval'; connect-src 'self'; img-src 'self'; style-src 'unsafe-inline' 'self'
* Referrer-Policy: strict-origin-when-cross-origin

Redmine is

[2021-05-22 19:49] mikitex70 commented on #85
I have set up a test environment using Traefik 2 and I can confirm that is the header `Content-Security-Policy` that create problems.
I think it is configured in Apache; try to change the value in:
[code]
In my tests this value resolves the problem allowing to use scripts ad images from the `embed.diagrams.net` site (the diagram editor).
If security is an issue, you can try to install the drawio w

[2021-05-23 08:43] xanadiu commented on #85
@mikitex70 Thanks a lot!! That configuration issue was the reason for failure. Now it works like a charm! Maybe it might be worth mentioning this requirement if others also encounter(ed) this situation?

Again, thanks for investigating with me!

[2021-05-24 05:50] mikitex70 commented on #85
It's a good idea.
I think the configuration is distribution dependent. What kind of Redmine distribution are you usiing (vaniilla, Bitnami, container, ecc.)? If installed with a package manager, what OS is?

[2021-05-24 18:15] xanadiu commented on #85
Our Remine installation is running on a Linux VM with Ubuntu 20.04.2 LTS. AFAIK our system administrator did a vanilla deployment with hand-crafted integration into Apache with Phusion Passenger.

For me, the advice to pay attention to the security headers and mentioning the reverse-proxy configuration were the missing link.

[2021-05-26 06:00] mikitex70 commented on #93
Fix release in version `v1.0.3`.
Thanks for reporting this issue.

[2021-05-26 06:00] #93 closed

[2021-05-26 06:02] mikitex70 commented on #85
Added a section on the `Content-Security-Policy` header configuration in the README.md.
Thanks for letting me known this new header.

[2021-06-08 09:07] drenriza opened #95 "Redmine drawio plugin, create custom library"
This issue is an re-opening from
https://www.redmine.org/boards/3/topics/65446?r=65478#message-65478

I am trying to figure out how i can create a drawio custom library through the plugin.
Normally (as far as i can tell) you go to **file** -> **new library**, but this option is not available to me.

I have a scratchpad, but that wont allow me to create a custom library that i can populate with sha

[2021-06-18 06:01] mikitex70 commented on #95
Hi @drenriza,
sorry for the long delay but I've been very busy lately.
Try the latest version of the plugin (`v1.1.0`), now in the `File` menu should show the library management sub menus.

[2021-06-21 14:14] drenriza commented on #95
Hi @mikitex70
Thanks for your reply and suggestion!
I upgraded the plugin to version 1.1.0.

File -> New Library -> Browser / Device

- Device saves the .xml file to my local storage.
- Browser i suspect, saves the .xml file data to the browsers local datastore.

In either case, i cannot share my libraries with others because both methods (seems) are localized to my device.

Out of curiosity i tri

[2021-06-28 07:00] grdit opened #96 "Failed to execute 'addEventListener' on 'EventTarget'"
Following error occurs when attaching an XML drawing on a Wiki page:

`{{drawio_attach(File.xml,hilight=#0000ff)}}`

`Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'.`

[code]

Tried with different browsers, same thing.

[2021-06-29 21:24] naimulhq opened #97 ""Double Click to Start Drawing" button doesn't work"
I have installed the plugin on EasyRedmine. I have an existing project and I wanted to add a Diagram in the Wiki tab. I would create a new entry and add the following: `{{drawio_attach(myDiagram)}}` and save it on the Wiki. The button would show up but nothing happens when I double click the button. The button does not redirect me to the other page.

[2021-07-02 16:52] mikitex70 commented on #97
Hi @naimulhq, try i press the key F12 and look in the `Console` tab if there is some error.
EasyReadmine is a commercial product and I cannot test on it, I can only test on the free version of Redmine.
Also can you tell me what version of the drawio plugin are you using?

[2021-07-02 22:14] naimulhq commented on #97
I was able to get the button to work. I just removed and reinstall the plugin. However, when I click on the button, it says that "SSL received a record that exceeded the maximum permissible length.

Error code: SSL_ERROR_RX_RECORD_TOO_LONG"

The console does not show any output

[2021-07-02 22:21] naimulhq commented on #97
I figured out it is because when I click the button, it is redirecting me to my local instance of drawio but by using HTTPS instead of HTTP.

[2021-07-03 05:41] mikitex70 commented on #97
In the plugin configuration dialog explicitly set the protocol to http for your internal drawio instance.
Also keep in mind that it's not possible to use HTTP resources from an HTTPS site. You have two solutions:
1. expose the Redmine site wiith the HTTP protocol
1. expose the local Drawio site with the HTTPS protocol.

[2021-07-06 05:48] mikitex70 commented on #95
Hi @drenriza ,
sorry for the long delay but I needed some time to test deeply the behavior.
The library file is loaded by a proxy service from the *embedded.diagrams.net* site (the site from where is started the diagram editor). So the library must be accessible via HTTPS in Internet, and this is why you get that error.
A solution (not yet tested) would be to use a local drawio installation, in th

[2021-07-06 05:49] mikitex70 commented on #96
Hi @grdit,
I've pushed a fix in the `develop` branch. Could you give it a try to confirm it is working fine?

[2021-07-15 13:53] grdit commented on #96
Hello @mikitex70,
it works fine now.
Thanks a lot, awesome job!

[2021-07-16 16:26] mikitex70 commented on #96
Fix officially released in the `master` branch as version `v1.1.1`.
I close this issue.
Thanks for reporting it.

[2021-07-16 16:26] #96 closed

[2021-08-04 14:00] ovhk opened #98 "Cannot double click to start drawing with a single quote in the page name"
It looks like special chars in the page name again : ' #91

Console : `Uncaught SyntaxError: missing ) after argument list`

HTML generated :

`<p><img alt="Diagram.png" title="Double click to edit diagram" class="drawioDiagram" style="cursor:pointer;" ondblclick="editDiagram(this,&#39;Processus_1.png&#39;, false, &#39;Gestion_de_l&#39;obsolescence&#39;);" src="data:image/png;charset=utf-8;base64,

[2021-08-19 05:53] #98 closed

[2021-08-19 06:05] mikitex70 commented on #98
Hi @ovhk, I've fixed the issue.
Thanks for reporting it.

[2021-08-20 19:04] mikitex70 commented on #98
Hi @ovhk, I've fixed the issue.
Thanks for reporting it.

[2021-08-25 08:55] K-Duke opened #99 "Macro drawio_dmsf only working in wiki"
While in the wiki the macro works wonderfully for display purposes, i get an error when inserting the macro in the description or the comment of an issue.

The way I include the macro:
`{{drawio_dmsf(Diagramme/WAKOMASERV_entity.xml)}}`

The error I get:
`Error executing the drawio_dmsf macro (undefined method 'gsub' for nil:NilClass)`

[2021-09-14 15:06] xanadiu opened #100 "Create entry in wiki history on diagram update"
(This is a proposal for an enhancement)

After editing a diagram which is embedded in a wiki page, the content of the wiki page changes by referencing to the next version of the attached diagram. This is visible in the history of the wiki page by comparing the two affected page versions.

I would like to request an enhancement: The history also offers a comment attribute, which can be be submitted

[2021-09-14 15:12] xanadiu opened #101 "Display a warning when reloading or closing an editor page"
I wonder if it is possible to prevent the user from accidentally reloading or closing the diagram editor when there are unsaved changes. I know that some browsers ask for confirmation when reloading or closing a page with a form that contains user-entered data. Maybe there is a hook to use this while editing. Or would that be a request for the diagram editor and out of scope for this plugin?

[2021-09-23 18:04] mikitex70 commented on #101
Hi @xanadiu, I've done some test and when clicking in the `Exit` button of the diagram editor a dialog will popup asking confirmation to discard changes.
I've also tried a whole reload of the page (Redmine URL, but the diagram editor is shown) and the the dialog pops up correctly.
My tests were done with Firefox.
Have you some use case where the dialog does not appear?

[2021-09-24 10:04] maudov opened #102 "SVG's rendering is prone to XSS"
Hi,

SVG's rendering is prone to XSS in redmine_drawio.
steps to reproduce :
1. upload an SVG containing a script to a wiki page and attach it ( {{drawio_attach(...)}})
[code]

2. go to the wiki page

![image](https://user-images.githubusercontent.com/90309140/134655374-be2b7093-dd9f-4353-b542-aa595fe8677f.png)

there are several approaches to fix this issue:
- set the CSP policy to prevent inline

[2021-09-24 14:05] mikitex70 commented on #102
Thanks @maudov, I will fix it as soon a possible!

[2021-09-26 18:44] mikitex70 commented on #102
Hi @maudov, the security problem should now be fixed.
I've opted for removing javascripts from the svg diagram, because working with base64 was causing some issue when the diagram was re-edited before reloading the page.
Thanks again for reporting it.

[2021-09-26 18:46] mikitex70 commented on #100
Hi @xanadiu, your suggestion is now implemented in the @1.1.4@ version.

[2021-09-27 09:02] xanadiu commented on #101
Hi @mikitex70, sorry for being lazy in not specifying the browser information...

I am working on a Mac (macOS 11.6) and discovered these behaviours (after altering and not explicitly saving the diagram):

Web browser|Reload the window|Close the window|Click on `Exit`
--|--|--|--
Safari 15.0|No warning<br />Diagram editor disappears<br />Redmine content is shown<br />Changes are lost|No warning<br

[2021-09-27 16:55] mikitex70 commented on #101
The check for unsaved diagram is done fully in the diagram editor.
Maybe you can try to open an issue on [drawio](https://github.com/jgraph/drawio/issues).
Before that, do a simple check: go to https://app.diagrams.net/, draw a simple diagram and check with Safari and another browser if it asks for unsaved data.

[2021-10-05 08:59] maudov commented on #102
Hi @mikitex70,
thank you for your fast reaction, unfortunately there are many ways to bypass the fix (i.e : <sCriPt>alert('coucou')<sCript>).

A blacklisting approach is very difficult.
[here](https://cheatsheetseries.owasp.org/cheatsheets/XSS_Filter_Evasion_Cheat_Sheet.html) you can have a glimpse of all the XSS attacks used to bypass XSS filtering.

I will try to fix the re-editing issue you had

[2021-10-06 05:47] mikitex70 commented on #102
Ok, I will try to use the base64.
From your experience the SVG is still navigable? We use diagrams with links to other pages in Redmine and if the use of the base64 encoding breaks this navigation it maybe  problem.

[2021-11-10 06:35] #100 closed

[2021-11-11 19:07] mikitex70 commented on #102
Hi @maudov, I've pushed in the `develop` branch a fix for the XSS svg issues. Can yo give it a try?
Basically I've added a new plugin configuration option, `Enable SVG diagrams`, which is by default unchecked.

If unchecked, svg diagrams are rendered as inline base64 svg+xml images, as your suggestion. They are fully editable (thanks for your PR). In this case hyperlinks don't work.

If checked, s

[2021-11-17 09:02] maudov commented on #102
Hi @mikitex70,
It seems to be a good solution to me. I will give it a try as soon as I can.

[2021-11-24 15:38] maudov commented on #102
hi @mikitex70, I just tried the develop branch and I think there is a bug when editing an SVG (when SVG diagrams are enabled).
After saving the new SVG is not refreshed and I need to refresh my browser.
Except this minor bug everything seems to work fine and the solution seems to cover all needs.
Thank you for the fix!

[2021-11-24 17:47] mikitex70 commented on #102
Thanks for your tests, this this bug had escaped me.
It is now fixed, and I've released version `1.2.0`.
Thank you very much for reporting the security issue.

[2021-11-24 17:47] #102 closed

[2021-12-01 09:42] sunnylin13 opened #103 "drawio plugin can't work with CKEditor"
Here is my redmine  information:
Environment:
  Redmine version                4.2.3.stable
  Ruby version                   2.7.4-p191 (2021-07-07) [x86_64-linux]
  Rails version                  5.2.6
  Environment                    production
  Database adapter               PostgreSQL
  Mailer queue                   ActiveJob::QueueAdapters::AsyncAdapter
  Mailer delivery                smtp

[2021-12-01 19:52] mikitex70 commented on #103
Hi @sunnylin13, can you press F12 and check in the console if there is some error? I cannot reproduce the issue.
In wiki and issue pages the drawio buttons are shown correctly; in settings page they aren't show, I'm trying to fix it.

[2021-12-02 03:08] sunnylin13 commented on #103
Hi @mikitex70 , thanks for your information.
After check the console, I found that issued come from incomplete installation of ckeditor plugin, base64image.
And, that come from instruction 'https://www.redmine.org/boards/2/topics/58357' that I try to enable 'Paste an image from the clipboard'. It miss guiding to install 'base64image' plugin. No 'drawio' redmine plugin, even no 'base64image' ckedit

[2021-12-02 17:32] mikitex70 commented on #103
I'm glad to know that you have solved it.
Closing this issue, the toolbar buttons in the project settings page is not so important (for now), as diagrams in the project description are rarely used (but macros are still working).

[2021-12-02 17:32] #103 closed

[2021-12-19 20:00] jwalkerbg opened #104 "Error saving diagram: Forbidden"
Hi, I am running Redmine 4.2.3 and drawio plugin 1.2.0, on Windows 10.

The problem is that the diagrams cannot be saved. The message from the browser is
"localhost:3002 Error saving diagram: forbidden"

The log file have this record
`Started POST "/uploads.json?filename=myDiagram_1.png" for 127.0.0.1 at 2021-12-19 21:46:55 +0200
Processing by AttachmentsController#upload as JSON
  Parameters: {"f

[2021-12-23 08:00] mikitex70 commented on #104
Hi @jwalkerbg,
have you enabled the REST API in the global Redmine settings? It's documented in the `README.md`.
Without the REST API the attachments cannot be managed...

[2021-12-23 16:49] jwalkerbg commented on #104
Thank you. REST API was not enabled. It is clearly written ... but sometimes there is no one to read...

[2021-12-23 16:49] #104 closed

[2021-12-27 16:01] mikitex70 commented on #101
No more feedback, closing this issue.

[2021-12-27 16:01] #101 closed

[2021-12-27 16:02] mikitex70 commented on #97
No more feedback, closing this issue.

[2021-12-27 16:02] #97 closed

[2021-12-27 16:02] mikitex70 commented on #88
No more feedback, closing this issue.

[2021-12-27 16:02] #88 closed

[2022-01-04 14:08] koboldMaki opened #105 "Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'."
Following error occurs when attaching an XML or drawio drawing on any redmine page:

`Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'.`

  Error occurs also at redmine_drawio 1.1.4 i used before patch to 1.2.0 today but before holidays all works fine.

[2022-01-05 14:47] #105 closed

[2022-01-05 14:51] mikitex70 commented on #105
Hi @koboldMaki, thanks for reporting the issue.
The error was caused by a change in an external javascript from `embed.diagrams.net` (drawio site) which is included and patched runtime, used to render diagrams in XML format.
Sorry for this, but  I don't have control on those files...

[2022-01-06 03:07] gavin887 commented on #105
just add this code:

[code]

above `assets/javascripts/drawioEditor.js:568`

[code]

thanks for you great works, @mikitex70

[2022-01-06 09:42] koboldMaki commented on #105
Works great, big thanks!

[2022-01-06 10:28] mikitex70 commented on #105
Hi @gavin887, your fix works fine but if think it may touch too many places.
With your code I realized that the only important code to fix is:
[code]
which is near the beginning of the script, easier to find and less likely to be interrupted by new lines (which was the cause of this issue).
So I came to this patch code:
[code]
It wiill be included in the next release.
Thanks again for your suggest

[2022-01-07 03:09] gavin887 commented on #105
![nice](https://user-images.githubusercontent.com/48237002/148485237-8d9d9402-27b5-4187-aa6e-d7e85eef9131.gif)

[2022-04-03 00:12] dktcoding opened #109 "Redmine 5.0 Support"
Hi there!

I was wondering if support for Redmine 5.0 is planned.

Regards

[2022-04-03 06:23] mikitex70 commented on #109
Not yet testes, but it should work.
Give me some day, I will do some check and update the plugin requirements.

[2022-04-03 13:39] dktcoding commented on #109
Thanks!

[2022-04-20 16:22] mikitex70 commented on #109
I am working on it, but it will take me some time as the transition to Rails 6 is not that easy, I need to figure out how to adapt some parts of the code.

[2022-05-12 09:44] szymekrak commented on #105
Hello.
I've noticed that a recent diagrams.net update caused this error to return.
There is a following line in the minified JS now:
`mxEvent.addListener(I, "click", ea);`
Variable name "ea" is not being caught by the regular expression in drawioEditor.js, as it only matches single letter names. I suggest changing it to:
`var searchRegex = /mxEvent\.addListener\(([a-zA-Z]+),"click",([a-zA-Z]+)\)/;

[2022-05-14 15:33] mikitex70 commented on #105
Solved, thanks for reporting the issue.
Please, next time open a new report, it is easier to track changes in the `CHANGELOG` :smiley:.

[2022-05-28 14:43] mikitex70 commented on #109
Fixed by PR #110, release in version `v1.4.0`.
Closing this issue.

[2022-05-28 14:43] #109 closed

[2022-06-18 08:01] mikitex70 opened #111 "Potential XSS"
Isse received by email from Liaham:

    during a security scan I have got the advise to fix a potential XSS security vulnerability in

    <form id="drawio_form">. Though I would evaluate the risk rather low I added a fix.

    I also translated the labels in the form to German.

    I send you the patch file this way instead of a pull request since I was not sure what you prefer w.r.t. security

[2022-06-18 08:34] #111 closed

[2022-06-19 17:38] whotopia opened #112 "Redmine 5.x issue"
Have tried to add a simple

`{{drawio_attach(myDiagram)}}`

to Redmine 5.x wiki.

To this I get the error:

**`Error executing the drawio_attach macro (undefined method `strip_non_filename_chars' for #<ActionView::Base:0x00000000021098>)
`**
in red on the wiki page.

Can someone help?

[2022-06-20 16:19] mikitex70 commented on #112
Hi @whotopia, I'll check the sources, maybe during the port on Redmine 5 I missed something.

[2022-06-20 16:36] mikitex70 commented on #112
I've done a quick test and the macro `drawio_attach` seems working fine, and the usages of `strip_non_filename_chars` are correctly fixed for Redmine 5.
Are you sure that the sources of the plugin are correct? Can you try to re-download the plugin again?

[2022-06-20 20:14] whotopia commented on #112
It is weird.   So I downloaded your redmine_drawio-1.4.0.tar.gz release file, deployed,  and that one works fine.   I'm relieved for this, but will do a bit more digging on a non-production system. Might it be an interaction with another plugin?    I'll let you know.  For now closing this.

[2022-06-20 20:14] #112 closed

[2022-06-22 22:57] whotopia opened #113 "Draw.io drawing within Project Description text"
I'm trying to get a draw.io drawing into Redmine Project Descroption text field.

I  have tried:

1. drawio_attach directly in the description doesn't work. I get message "«Please save content first»"
2. tried to use {{include(Wiki)}} from a wiki page.  That works but the drawio section says "Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'."

Does anyone

[2022-06-25 13:27] mikitex70 commented on #113
I @whotopia, the plugin was designed mainly for the wiki page, then updated to work with issues.
Never tested in the project description, I can take a look at it to make it work.
Diagrams are loaded from attachments or with the dmsf plugin, so without the dmsf it's not easy to get something to draw in the project description page.
I will check if it's possible to load from documents, but then it c

[2022-06-26 16:14] mikitex70 commented on #113
I've done some test.
The `drawio_attach` macro cannot be used in the project description because it wants to attach the diagram image, and it's not possible with the project description.
But using the `include` macro to include a wiki page works fine, the diagram is shown correctly and no errors arise.
Tested on Redmine `4.2.1` and plugin `1.3.1`.
Can you post the stack trace of the error, if logg

[2022-07-16 16:32] #55 closed

[2022-09-05 11:17] CSCSxx opened #119 "Toolbar button is shown in WYSIWYG editor (plugin) but not in Redmine markdown editor"
System:
Redmine 5.0.2
Text formatter: Common Markdown (Github flavored)
Plugin: https://github.com/taqueci/redmine_wysiwyg_editor

Since switching to Redmine 5.x, we have been using the WYSIWYG editor instead of the CK editor as before. So the only option we had was to switch the text formatter to Common Markdown, as that was the only one left that rendered the CK editor's HTML elements reasonably

[2022-09-07 16:19] mikitex70 commented on #119
Hi @CSCSxx, the `1.4.3` version should fix your issue.
The toolbar buttons now are working in the native and in the WYSIWYG editor.
Thanks for reporting it.

[2022-09-08 07:14] CSCSxx commented on #119
Hello,
First of all, many thanks for the super fast response and processing (really cool!).
I migrated to the new version and lo and behold, the toolbar buttons appear in the native editor and work as well.
However, they no longer appear in the plugin editor

[2022-09-08 17:32] sstidl opened #120 "Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'."
Is #105 here again?

using

`{{drawio_attach(test_1.xml,hilight=#0000ff)}}`

i get
_Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'._

My codebase is:
tags/v1.4.2
since master or v1.4.3 is not working with our Environment:
Environment:
[code]

[2022-09-09 09:58] mattomis commented on #120
I am seeing the same issue with Drawio plugin 1.4.2.
`Environment:
  Redmine version                4.2.3.stable
  Ruby version                   2.5.9-p229 (2021-04-05) [x86_64-linux-gnu]
  Rails version                  5.2.6
  Environment                    production
  Database adapter               Mysql2
  Database timezone              CEST
  ActiveRecord timezone          local
  App timez

[2022-09-09 10:00] mattomis commented on #120
I have the same result using for issue text:
 `# {{drawio_attach(test.xml,size=800,zoom=true,lightbox=true,hilight=#0000ff)}}`

I see in the issue description:
_Failed to execute 'addEventListener' on 'EventTarget': parameter 2 is not of type 'Object'._

Environment:
  Redmine version                4.2.3.stable
  Ruby version                   2.5.9-p229 (2021-04-05) [x86_64-linux-gnu]
  Rails ve

[2022-09-09 22:01] pkunduCere commented on #120
Same problem here
Environment:
  Redmine version                4.2.5.stable
  Ruby version                   2.7.5-p203 (2021-11-24) [x86_64-linux-gnu]
  Rails version                  5.2.6.3
  Environment                    production
  Database adapter               PostgreSQL
  Mailer queue                   ActiveJob::QueueAdapters::AsyncAdapter
  Mailer delivery                smtp
Redmine

[2022-09-11 08:46] mikitex70 commented on #120
You were right, it is the same problem.
A refactor was made in the file 'viewer-static.min.js' and this prevented the correct application of the patch for the addition of the editing button.
Try downloading the version from the 'develop' branch, it should work properly now.

[2022-09-11 08:49] mikitex70 commented on #119
Hi @CSCSxx, you were right.
The problem was a polling timeout in detecting when the TinyMCE editor is initialized: on recent (fast) machines the code was initializing too fast.
I've reduced the timeout, now it seems to work find; try downloading the `develop` branch and let me know if it works.

[2022-09-11 23:04] sstidl commented on #120
Thank you, commit:c4a4da053a7200b58d2d645e571889fa85e62199 fixes this.

[2022-09-11 23:04] #120 closed

[2022-09-12 06:58] CSCSxx commented on #119
Ok, I installed the developer version.
In most cases it works now, however I can keep reproducing a scenario where it doesn't work:
* Edit an existing issue
* Edit issue description (first entry).
* In this text editor field, the toolbar buttons appear in the native editor but not in the plugin editor
* In the lower text editor (comment field), the buttons appear in both editors

However, this is

[2022-09-13 05:51] mikitex70 commented on #119
Hi @CSCSxx, try to pull from the 'development' branch, I fixed the initialization of the toolbar and now the buttons should appear in every editor.
I made some corrections in the macro insertion code as well, since sometimes the value was not saved after the change.

[2022-09-13 07:01] hsssystems opened #121 "v1.4.3 and develop do not work with redmine 4.2.x"
Hi,

we get this error with v1.4.3 and develop:

[code]

Workaround was this:

[code]

Maybe the 3 lines are only for redmine 5?

[2022-09-13 09:46] CSCSxx commented on #119
Cool, it works.
No matter what I wildly click back and forth, the buttons stay there :)

[2022-09-13 09:46] #119 closed

[2022-09-13 16:53] mikitex70 commented on #121
Sorry, my stupid mistake, I confused the Redmine version with the Rails version.
The issue is now fixed in version `v1.4.4`.
Thank you for reporting it.

[2022-10-03 15:57] #121 closed